
{% liquid
  assign mobile_navigation = section.settings.mobile_navigation
%}
{% style %}
    toggle-expand.active > [data-role="header"] svg{
        transform:rotate(180deg);
    }
{% endstyle %}
<div data-role="header-overlay" class="mb-fixed mb-top-0 mb-left-0 mb-w-full mb-h-full mb-bg-[rgba(0,0,0,0.4)] mb-z-999 mb-backdrop-blur-sm mb-hidden [&.active]:mb-block mb-z-[999]"></div>
<div class="mb-fixed mb-left-0 xl:mb-hidden mb-top-0 mb-h-full mb-w-[calc(100%_-_20px)] md:mb-max-w-[400px] mb-bg-[#ffffff] mb-hidden [&.active]:mb-block before:mb-content-[''] before:mb-w-full before:mb-opacity-0 before:mb-transition-all [&.updating]:before:mb-opacity-100 before:mb-pointer-events-none before:mb-h-full before:mb-bg-[#ffffff] before:mb-absolute before:mb-left-0 before:mb-top-0 before:mb-duration-[400ms] mb-z-[1000]" data-role="mobile-nav">
    <div class="mb-py-5 mb-px-5">
        <div class="mb-flex mb-justify-between mb-items-center"> 
            <h1 class="mb-mb-0">
                <a href="{{ shop.url }}" class="mb-text-[24px] mb-flex mb-justify-center mb-items-center">
                     {% liquid
                      assign logo_type = section.settings.logo_type
                      if logo_type == 'svg'
                        assign logo = section.settings.logo_svg
                      else
                        assign logo = section.settings.logo_image
                      endif
                    %}
                    {% if logo != blank %}
                        {% if logo_type == 'svg' %}
                            <span class="mb-flex mb-items-center mb-w-[200px] xl:mb-w-[220px]">{{ logo }}</span>
                        {% else %}
                        <span class="mb-inline-block">
                            {{ logo | image_url: width: 140 | image_tag: loading: 'lazy', alt: shop.name }}
                            </span>              {% endif %}
                        {% else %}
                        {{ shop.name }}
                        {% endif %}
                </a> 
            </h1>
            <button data-role="nav-hide" class="mb-grid mb-place-items-center mb-h-7 mb-w-7 mb-rounded-full mb-bg-[#FFF6FA] mb-border mb-border-black/5 mb-transition group-hover:mb-bg-white">
                {% render 'icons-v2', icon:'icon-cross',class:"mb-fill-[#724430] mb-w-[14px] mb-h-[14px]" %}</button>
        </div>
        <div class="mb-mt-6 mb-max-h-[calc(100vh_-_80px)] mb-overflow-y-auto">
            <div class="">
                {% for link in mobile_navigation.links %}
                    <div class="mb-py-4 mb-border-[#fff] mb-border-t-[1px]">
                    {% if link.levels > 0 %}
                            <toggle-expand>
                                <div data-role="header" class="mb-flex mb-justify-between">
                                    {% assign style = false %}
                                    {% for block in section.blocks %}
                                        {% if block.type == 'style' and block.settings.navigation_title == link.title %}
                                            {% assign style = true %}
                                            {% assign color = block.settings.text_color %}
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ link.url }}" {% if style %}style="color:{{ color }}!important;"{% endif %} class="!mb-text-[#724430] mb-font-medium mb-text-[16px] hover:mb-opacity-[.8]">{{ link.title }}</a>
                                    <button data-role="trigger">{% render 'icons-v2', icon: 'icon-caret-down', class:'mb-w-4 mb-h-4 mb-text-[#fff] group-[&.active]:mb-rotate-[180deg] mb-trasition-all mb-duration-[400ms]' %}</button>
                                </div>
                                <div data-role="content" class="mb-max-h-[0px] mb-overflow-hidden">
                                    {% for child_link in link.links %}
                                        <div class="">
                                            {% if child_link.levels > 0 %}
                                                <toggle-expand>
                                                    <div data-role="header" class="mb-flex mb-justify-between mb-pt-4">
                                                        <a href="{{ child_link.url }}" class="!mb-text-[#724430] mb-font-medium mb-text-[16px] hover:mb-opacity-[.8]">{{ child_link.title }}</a>
                                                        <button class="" data-role="trigger">{% render 'icons-v2', icon: 'icon-caret-down', class:'mb-w-4 mb-h-4 mb-text-[#fff]  group-[&.active]:mb-rotate-[180deg] mb-trasition-all mb-duration-[400ms]' %}</button>
                                                    </div>
                                                    <div data-role="content" class="mb-max-h-[0px] mb-overflow-hidden">
                                                        {% for grand_child in child_link.links %}
                                                            <div class="">
                                                                <a class="!mb-text-[#724430] mb-font-medium mb-pt-4 mb-text-[14px]" href="{{ grand_child.url }}">{{ grand_child.title }}</a>
                                                            </div>
                                                        {% endfor %}mb-
                                                    </div>
                                                </toggle-expand>
                                            {% else %}
                                                <a href="{{ child_link.url }}" class="!mb-text-[#724430] mb-font-medium mb-pt-4 mb-text-[14px]">{{ child_link.title }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                            </toggle-expand>
                    {% else %}
                        {% assign style = false %}
                        {% for block in section.blocks %}
                            {% if block.type == 'style' and block.settings.navigation_title == link.title %}
                                {% assign style = true %}
                                {% assign color = block.settings.text_color %}
                            {% endif %}
                        {% endfor %}
                        <a href="{{ link.url }}" {% if style %}style="color:{{ color }}!important;"{% endif %} class="!mb-text-[#724430] mb-font-medium mb-text-[16px]">{{ link.title }}</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>