
{% liquid
  assign mobile_navigation = section.settings.mobile_navigation
%}
{% style %}
    toggle-expand.active > [data-role="header"] svg{
        transform:rotate(180deg);
    }
{% endstyle %}
<div data-role="header-overlay" class="sw-fixed sw-top-0 sw-left-0 sw-w-full sw-h-full sw-bg-[rgba(0,0,0,0.4)] sw-z-999 sw-backdrop-blur-sm sw-hidden [&.active]:sw-block sw-z-[999]"></div>
<div class="sw-fixed sw-left-0 lg:sw-hidden sw-top-0 sw-h-full sw-w-[calc(100%_-_20px)] md:sw-max-w-[400px] sw-bg-[#ffffff] sw-hidden [&.active]:sw-block before:sw-content-[''] before:sw-w-full before:sw-opacity-0 before:sw-transition-all [&.updating]:before:sw-opacity-100 before:sw-pointer-events-none before:sw-h-full before:sw-bg-[#ffffff] before:sw-absolute before:sw-left-0 before:sw-top-0 before:sw-duration-[400ms] sw-z-[1000]" data-role="mobile-nav">
    <div class="sw-py-5 sw-px-5">
        <div class="sw-flex sw-justify-between sw-items-center">
            <h1 class="sw-mb-0">
                <a href="{{ shop.url }}" class="sw-text-[24px] sw-flex sw-justify-center sw-items-center">
                     {% liquid
                      assign logo_type = section.settings.logo_type
                      if logo_type == 'svg'
                        assign logo = section.settings.logo_svg
                      else
                        assign logo = section.settings.logo_image
                      endif
                    %}
                    {% if logo != blank %}
                        {% if logo_type == 'svg' %}
                            <span class="sw-inline-blocks">{{ logo }}</span>
                        {% else %}
                            <span class="sw-inline-block">{{ logo | image_url: width: 200, height: 200 | image_tag }}</span>
                        {% endif %}
                    {% else %}
                        {{ shop.name }}
                    {% endif %}
                </a>
            </h1>
            <button data-role="nav-hide">{% render 'icons-v2', icon:'icon-cross',class:"sw-fill-[#724430] sw-w-[14px] sw-h-[14px]" %}</button>
        </div>
        <div class="sw-mt-6 sw-max-h-[calc(100vh_-_80px)] sw-overflow-y-auto">
            <div class="">
                {% for link in mobile_navigation.links %}
                    <div class="sw-py-4 sw-border-[#fff] sw-border-t-[1px]">
                    {% if link.levels > 0 %}
                            <toggle-expand>
                                <div data-role="header" class="sw-flex sw-justify-between">
                                    {% assign style = false %}
                                    {% for block in section.blocks %}
                                        {% if block.type == 'style' and block.settings.navigation_title == link.title %}
                                            {% assign style = true %}
                                            {% assign color = block.settings.text_color %}
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ link.url }}" {% if style %}style="color:{{ color }}!important;"{% endif %} class="!sw-text-[#724430] sw-font-medium sw-text-[16px] hover:sw-opacity-[.8]">{{ link.title }}</a>
                                    <button data-role="trigger">{% render 'icons-v2', icon: 'icon-caret-down', class:'sw-w-4 sw-h-4 sw-text-[#fff] group-[&.active]:sw-rotate-[180deg] sw-trasition-all sw-duration-[400ms]' %}</button>
                                </div>
                                <div data-role="content" class="sw-max-h-[0px] sw-overflow-hidden">
                                    {% for child_link in link.links %}
                                        <div class="">
                                            {% if child_link.levels > 0 %}
                                                <toggle-expand>
                                                    <div data-role="header" class="sw-flex sw-justify-between sw-pt-4">
                                                        <a href="{{ child_link.url }}" class="!sw-text-[#724430] sw-font-medium sw-text-[16px] hover:sw-opacity-[.8]">{{ child_link.title }}</a>
                                                        <button class="" data-role="trigger">{% render 'icons-v2', icon: 'icon-caret-down', class:'sw-w-4 sw-h-4 sw-text-[#fff]  group-[&.active]:sw-rotate-[180deg] sw-trasition-all sw-duration-[400ms]' %}</button>
                                                    </div>
                                                    <div data-role="content" class="sw-max-h-[0px] sw-overflow-hidden">
                                                        {% for grand_child in child_link.links %}
                                                            <div class="">
                                                                <a class="!sw-text-[#724430] sw-font-medium sw-pt-4 sw-text-[14px]" href="{{ grand_child.url }}">{{ grand_child.title }}</a>
                                                            </div>
                                                        {% endfor %}sw-
                                                    </div>
                                                </toggle-expand>
                                            {% else %}
                                                <a href="{{ child_link.url }}" class="!sw-text-[#724430] sw-font-medium sw-pt-4 sw-text-[14px]">{{ child_link.title }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                            </toggle-expand>
                    {% else %}
                        {% assign style = false %}
                        {% for block in section.blocks %}
                            {% if block.type == 'style' and block.settings.navigation_title == link.title %}
                                {% assign style = true %}
                                {% assign color = block.settings.text_color %}
                            {% endif %}
                        {% endfor %}
                        <a href="{{ link.url }}" {% if style %}style="color:{{ color }}!important;"{% endif %} class="!sw-text-[#724430] sw-font-medium sw-text-[16px]">{{ link.title }}</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>