{% liquid
  assign card_product = card_product
  assign card_hero_image = card_product.featured_media
  assign card_hover_image = card_product.images[1]
  assign image_ratio = 1
  assign image_ratio = card_hero_image.aspect_ratio
  assign image_ratio = 1
  assign card_tag_array = '' 
  for tag in card_product.tags
    if tag contains '_label_'
        assign tg = tag | split : '_label_' | last | downcase 
        if tg contains 'bestseller'
            assign card_tag_array = 'BestSeller'
            assign card_tag_color = '#1573D8'

        elsif tg contains 'trending'
            unless card_tag_array contains 'BestSeller'
                assign card_tag_array = 'Trending'
                assign card_tag_color = '#6F42C1'
            endunless
        elsif tg contains 'new'
            unless card_tag_array == 'BestSeller' or card_tag_array == 'Trending'
                assign card_tag_array = 'New'
                assign card_tag_color = '#76B635'
            endunless
        endif
    endif
  endfor
  assign card_tag_array = card_tag_array | split : ','
  assign card_offer_array = card_product.metafields.custom.offers.value
  assign card_usp_array = card_product.metafields.custom.secondary_title.value
  assign total_reviews = card_product.metafields.reviews.rating_count
  assign review_percent = card_product.metafields.reviews.rating.value
  assign selected_variant = card_product.selected_or_first_available_variant
  assign coupon_discount = card_product.metafields.custom.coupon_discount.value
  assign shades_count = card_product.variants.size
  assign lightning_deal = false
  assign lightning_deal_tags = settings.timer_tags
  assign count_tag_bg = settings.timer_tag_bg
  for tag in card_product.tags
    if lightning_deal_tags contains tag
        assign lightning_deal = true
    endif
  endfor
  
  assign counter_start_date = settings.timer_start_time
  assign counter_loop_hours = settings.looping_hours 
  assign button_bg = button_bg | default : '#FC2679'
  assign button_text_color = button_text_color | default : "#fff"
  assign notify_border = notify_border | default : '#FC2679'
  assign notify_text_color = notify_text_color | default : '#FC2679'

  assign color_count = 0
  assign value = ''
  for variant in card_product.variants
    assign value = variant.options[option_index]
    unless values contains value
        assign color_count = color_count | plus: 1
    endunless
  endfor
  unless grid_item_width
    assign grid_item_width = 'medium-up--one-quarter small--one-half'
  endunless
  if lightning
    assign lightning_deal = true
  endif
%}
{% style %}
    shadeselector-button.loading::before,shadeselector-button.loading::after{
        display:none!important;
        background:transparent;
        border:none;
        opacity:0!important;
    }
    wishlist-btn.sw-group\/wishlist svg path+path {
        fill: white;
    }
    wishlist-btn.sw-group\/wishlist.active svg path+path {
        fill: #FC2679;
    }
    wishlist-btn button svg {
        position: absolute;
        top: 5px;
        left: 4px;
    }
    wishlist-btn.sw-group\/wishlist.active button{
        border-color:#FC2679;
    }

{% endstyle %}
<product-card class="sw-group/card {% if grid %}{{ grid_item_width }}{% endif %} {{ class }}" data-product="{{ card_product.id }}" data-title="{{ card_product.title }}">
    <div class="product-card-wrapper sw-rounded-xl sw-relative sw-overflow-hidden sw-shadow-[0px_0px_2px_0px_rgba(0,_0,_0,_0.25)]">
        <div class="product-card-content sw-bg-[#fff]">
            {% if lightning_deal %}
                <div class="product-card-counter" style="background-color:{{ count_tag_bg }};">
                    <div style="background-color:{{ count_tag_bg }}" data-role="card-counter" data-start-time="{{ counter_start_date }}" data-loop-time="{{ counter_loop_hours }}">
                        <div style="background-color:{{ count_tag_bg }}" class="sw-flex sw-w-full sw-py-[2px] sw-justify-center sw-items-center sw-relative before:sw-absolute before:sw-w-full before:sw-h-full before:sw-bottom-0 before:sw-left-0 before:sw-bg-inherit before:sw-translate-y-[98%]">
                            <span class="sw-mr-1">{% render 'icons-v2', icon:'icon-flash' %}</span>
                            <div data-role="counter-hours" class="sw-text-[#000] sw-font-heading sw-text-[12px] sw-font-semibold">00 hr</div>
                            <span class="sw-text-[#000] sw-font-heading sw-text-[12px] sw-font-semibold sw-px-[2px]"> : </span>
                            <div data-role="counter-minutes" class="sw-text-[#000] sw-font-heading sw-text-[12px] sw-font-semibold">00 min</div>
                            <span class="sw-text-[#000] sw-font-heading sw-text-[12px] sw-font-semibold sw-px-[2px]"> : </span>
                            <div data-role="counter-seconds" class="sw-text-[#000] sw-font-heading sw-text-[12px] sw-font-semibold">00 sec</div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="product-card-strips sw-flex sw-justify-between sw-min-h-[20px]">
                    {% if card_tag_array.size > 0 %}
                        <div style="background:{{ card_tag_color }}" class="product-card-tag-wrapper sw-flex-[0_0_50%] sw-max-w-[50%] sw-flex sw-flex-row sw-flex-nowrap sw-text-[#fff] sw-rounded-ee-[16px] sw-px-[6.5px] sw-py-[2px] sw-relative before:sw-bottom-0 before:sw-left-0 before:sw-bg-inherit before:sw-absolute before:sw-w-[20px] before:sw-h-[20px] before:sw-translate-y-[98%]">
                            {% if card_tag_array.size > 1 %}<div data-role="card-strip-slide" class="sw-justify-center sw-flex sw-flex-row sw-flex-nowrap sw-w-full">{% endif %}
                            {% for tg in card_tag_array %}
                                <div data-role="card-slide" class="product-card-tag sw-flex-[0_0_100%] sw-flex sw-justify-center">
                                    <p class="sw-font-primary sw-text-[10px] sw-font-medium sw-tracking-widest">{{ tg }}</p>
                                </div>
                            {% endfor %}
                            {% if card_tag_array.size > 1 %}</div>{% endif %}
                        </div>
                    {% endif %}
                    {% if card_offer_array.size > 0 %}
                        <div class="product-card-offer-wrapper sw-flex-[0_0_50%] sw-max-w-[50%] sw-ml-auto sw-flex sw-flex-row sw-flex-nowrap sw-py-[2px] sw-pl-[2px] sw-pr-[2px] sw-bg-[linear-gradient(to_right,_rgba(255,0,0,0),_rgba(255,215,215,1))] sw-relative before:sw-absolute before:sw-right-0 before:sw-bottom-0 before:sw-translate-y-[98%] before:sw-w-[20px] before:sw-h-[20px] before:sw-bg-[#FFD7D7]">
                            {% if card_offer_array.size > 1 %}<div data-role="card-strip-slide" class=" sw-justify-center sw-flex sw-flex-row sw-flex-nowrap"> {% endif %}
                            {% for offer in card_offer_array %}
                                <div data-role="card-slide" class="product-card-offer sw-flex-[0_0_100%] sw-flex sw-gap-[5px] sw-items-center sw-justify-center">
                                <span>{% render 'icons-v2', icon : 'icon-offer' %}</span> <p class="sw-font-primary sw-text-[10px] sw-font-medium sw-text-[#F00]">{{ offer }}</p>
                                </div>
                            {% endfor %}
                            {% if card_offer_array.size > 1 %}</div> {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="product-card-images sw-relative sw-rounded-xl sw-overflow-hidden sw-mb-1">
                {% for tag in card_product.tags %}
                    {% if tag contains "_label_backInStock" %}
                        <span class="
                        sw-py-1 sw-px-2
                        sw-rounded-lg
                        sw-bg-[linear-gradient(90deg,#91E48B_0%,#E4FF93_33%,#E4FF93_66%,#91E48B_100%)]
                        sw-font-secondary sw-text-[#000] sw-text-center sw-text-[10px] sw-font-bold sw-leading-[15px] sw-tracking-[0.414px] sw-absolute sw-top-1 sw-left-1 sw-z-20 lg:sw-text-[12px]">
                        Back In Stock
                        </span>
                    {% endif %}
                {% endfor %}
                {% if settings.wishlist %}
                    <wishlist-btn class="sw-group/wishlist" data-product="{{ card_product.id }}" data-variant="{{ selected_variant.id }}">
                        <button class="sw-absolute sw-border-solid sw-w-6 sw-h-6 sw-border sw-border-[#A6A6A6] sw-rounded-full sw-bottom-1 sw-left-2 active sw-z-[100] group-[&.active]/wishlist:*:sw-fill-[#FC2679] *:sw-fill-[#A6A6A6]">{% render 'icons-v2', icon: 'icon-wishlist' %}</button>
                    </wishlist-btn>
                {% endif %}
                <div class="product-card-image sw-relative sw-overflow-hidden" style="padding-bottom:{{ 1 | divided_by : image_ratio | times : 100 }}%">
                    {% if card_hero_image != blank %}
                      <picture>
                         <source
                            media="(min-width: 768px)"
                            srcset="
                            {{ card_hero_image | image_url: width: 520 }},
                            {{ card_hero_image | image_url: width: 520 }},
                            ">
                        <img
                            srcset="
                            {%- if card_hero_image.width >= 165 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {%- if card_hero_image.width >= 360 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {%- if card_hero_image.width >= 533 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {%- if card_hero_image.width >= 720 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {%- if card_hero_image.width >= 940 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {%- if card_hero_image.width >= 1066 -%}{{ card_hero_image | image_url: width: 340 }} 340w,{%- endif -%}
                            {{ card_hero_image | image_url }} {{ card_hero_image.width }}
                            "
                            src="{{ card_hero_image | image_url: width: 340 }}"
                            sizes="(min-width: 1600px) {{ 1600 | minus: 230 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                            alt="{{ card_hero_image.alt | escape }}"
                            loading="lazy"
                            width="{{ card_hero_image.width }}"
                            height="{{ card_hero_image.height }}"
                            class="sw-absolute sw-top-0 sw-left-0 sw-w-auto sw-h-full sw-object-cover"
                        >
                      </picture>

                    {% endif %}
                    {% if card_hover_image != blank %}
                       <picture>
                         <source
                            media="(min-width: 768px)"
                            srcset="
                            {{ card_hover_image | image_url: width: 520 }},
                            {{ card_hover_image | image_url: width: 520 }},
                            ">
                           <img
                              srcset="
                              {%- if card_hover_image.width >= 165 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {%- if card_hover_image.width >= 360 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {%- if card_hover_image.width >= 533 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {%- if card_hover_image.width >= 720 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {%- if card_hover_image.width >= 940 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {%- if card_hover_image.width >= 1066 -%}{{ card_hover_image | image_url: width: 340 }} 340w,{%- endif -%}
                              {{ card_hover_image | image_url }} {{ card_hover_image.width }}
                              "
                              src="{{ card_hover_image | image_url: width: 340 }}"
                              sizes="(min-width: 1600px) {{ 1600 | minus: 230 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                              alt="{{ card_hover_image.alt | escape }}"
                              loading="lazy"
                              width="{{ card_hover_image.width }}"
                              height="{{ card_hover_image.height }}"
                              class="sw-absolute sw-top-0 sw-left-0 sw-w-auto sw-h-full sw-object-cover sw-opacity-0 sw-transition-all sw-duration-500 lg:group-hover/card:sw-opacity-100"
                          >
                         </picture>
                        
                    {% endif %}
                </div>
                <a class="sw-absolute sw-top-0 sw-left-0 sw-w-full sw-h-full sw-block" href="{{ card_product.url }}"></a>
                <button class="sw-absolute sw-bottom-1 sw-right-1 sw-bg-[#fff] sw-px-1 sw-py-[2px] sw-text-[#FF5B6F] sw-font-heading sw-text-[10px] sw-font-semibold sw-shadow-[0px_0px_2px_0px_rgba(0,_0,_0,_0.25)] sw-rounded-full">{% if color_count > 1 %}<shadeselector-button data-product-handle="{{ card_product.handle }}">{% endif %}{{ color_count }} Shades{% if color_count > 1 %}</shadeselector-button>{% endif %}</button>
            </div>
            {% if card_usp_array.size > 0 %}
                <div class="product-card-usp-strip sw-h-[20px] lg:sw-h-[32px] lg:sw-py-[6px] sw-flex sw-flex-row sw-items-center sw-w-[calc(100%_-_8px)] lg:sw-w-[calc(100%_-_16px)] sw-overflow-hidden sw-flex-nowrap sw-mx-auto sw-mb-[6px]">
                    {% if card_usp_array.size > 1 %}<div data-role="card-strip-slide" class="sw-flex sw-flex-row sw-w-full sw-overflow-hidden sw-flex-nowrap">{% endif %}
                    {% for usp in card_usp_array %}
                        <div data-role="card-slide" class="product-card-usp sw-flex-[0_0_100%] sw-rounded-full sw-bg-[linear-gradient(90deg,_#FFD444_0%,_#FFF_100%)] sw-flex sw-py-[1px] sw-justify-center">
                            <p class="sw-text-[12px] sw-font-heading sw-font-bold">{{ usp }}</p>
                        </div>
                    {% endfor %}
                    {% if card_usp_array.size > 1 %}</div>{% endif %}
                </div>
            {% else %}
                <div class="sw-h-[20px] lg:sw-h-[32px] lg:sw-py-[6px] sw-flex sw-flex-row sw-items-center sw-w-[calc(100%_-_8px)] sw-overflow-hidden sw-flex-nowrap sw-mx-auto sw-mb-2"></div>
            {% endif %}
            <div class="product-card-info sw-px-2 sw-flex sw-flex-col sw-gap-2 sw-items-center sw-mb-[6px] sw-min-h-[105px] ">
                <h3 class="!sw-block"><a href="{{ card_product.url }}" class="sw-font-primary sw-text-center sw-text-[14px] sw-font-semibold sw-capitalize sw-tracking-wider sw-line-clamp-2 sw-leading-[100%]">{{ card_product.title | downcase }}</a></h3>
                {% if review_percent or total_reviews %}
                    <div class="card-review sw-flex sw-gap-[3px] sw-items-center">
                        {% if review_percent %}
                            <div class="sw-flex sw-gap-1 sw-pr-1 sw-border-r-[1px] sw-border-r-[#707070] sw-items-center"><span>{% render 'icons-v2', icon: 'icon-star' %}</span><span class="sw-text-[12px] sw-font-heading sw-font-bold sw-text-[#707070] sw-leading-3">{{ review_percent }}</span></div>
                        {% endif %}
                        {% if total_reviews %}
                            <div class="sw-flex sw-items-center sw-gap-1">
                                <span>{% render 'icons-v2', icon: 'icon-badge',class:'sw-w-3 sw-h-3 sw-fill-[#08831A]' %}</span>
                                <span class="sw-text-[12px] sw-font-heading sw-font-bold sw-text-[#707070] sw-leading-3">{{ total_reviews }} Reviews</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                
                <div class="card-price sw-flex sw-items-center sw-gap-[6px]">
                    {% if selected_variant.compare_at_price > selected_variant.price %}
                        <span class="sw-font-heading sw-font-bold sw-text-[#A6A6A6] sw-text-[12px] sw-line-through sw-leading-[100%]">{{ selected_variant.compare_at_price | money }}</span>
                    {% endif %}
                    <span class="sw-text-[#000] sw-font-primary sw-text-[16px] sw-font-extrabold sw-leading-[100%]">{{ selected_variant.price | money }}</span>
                    {% if selected_variant.compare_at_price > selected_variant.price %}
                        {% liquid
                          assign percentage = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round 
                        %}
                        <div class="sw-flex">
                            <span class="sw-font-heading sw-text-[#08831A] sw-font-extrabold sw-text-[12px] sw-leading-[100%]">
                                {{ percentage }}% Off
                            </span>
                        </div>
                    {% endif %}
                </div>
                {% if selected_variant and coupon_discount %}
                    {% assign base_price = selected_variant.price %}
                    {% assign discount_percent = coupon_discount | plus: 0 %}
                    {% assign discount_amount = base_price | times: discount_percent | divided_by: 100 %}
                    {% assign final_price = base_price | minus: discount_amount %}
                    {% if discount_amount > 0 %}
                        <div class="sw-bg-[#E3FFD9] sw-py-[2px] sw-px-2 lg:sw-px-4 sw-rounded-2xl sw-flex sw-items-center sw-justify-center sw-gap-1">  
                            {% render 'icons-v2', icon:'icon-cpupon' %}
                            <span class="sw-text-[#08831A] sw-font-primary sw-text-sm sw-font-semibold  sw-leading-normal">
                                {{ final_price |  money_with_currency }}
                            </span>
                            <span class="sw-text-[#08831A] sw-font-primary sw-text-xs sw-font-semibold sw-leading-normal">with coupon</span> 
                        </div>
                    {% endif %} 
                {% endif %}
            </div>
            <div class="product-card-actions sw-px-1 sw-py-1 sw-pt-0 lg:sw-py-2 lg:sw-px-2">
                <input type="hidden" name="id" value="{{ selected_variant.id }}" data-url="{{ card_product.url }}">
                {% if selected_variant.available %}
                    <button style="background:{{ button_bg }};color:{{ button_text_color }};" data-role="add-to-cart" class="sw-text-[#fff] sw-h-10 sw-bg-[#FC2679] sw-rounded-xl sw-py-[14px] sw-w-full sw-flex sw-justify-center sw-font-primary sw-font-bold sw-text-[16px] sw-uppercase sw-items-center"><span class="group-[&.loading]/card:sw-hidden sw-font-primary sw-font-bold sw-text-[16px]">Add to cart</span><span class="sw-hidden group-[&.loading]/card:sw-block">{% render 'loader-v2', class:'!sw-w-6 !sw-h-6 !sw-fill-[#d3145e]' %}</span></button>
                {% else %}
                    <a href="#" data-product-data="{{ card_product | json | escape }}" style="{% if notify_border contains 'linear-gradient' %}background:{{  notify_border }};box-shadow:inset 0 0 2px #FFF, 0 0 1px #fff, inset -999px 0 0 #fff;border-color:transparent;{% else %}border:{{ notify_border }};{% endif %}border-width:1px;border-style:solid;color:{{ notify_text_color }}" data-role="notify" class="BIS_trigger grid_notify sw-text-[#fff] sw-h-10 sw-rounded-xl sw-py-[14px] sw-w-full sw-flex sw-justify-center sw-font-primary sw-font-bold sw-text-[16px] sw-uppercase sw-items-center">Notify me</a>
                {% endif %}
            </div>
        </div>
    </div>
</product-card>
