<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    <meta name="google-site-verification" content="6xghSyy5ErWxdrwvVuDDrW8qG5Nh7srDcoFehDYJF7A">
    <meta name="p:domain_verify" content="50315ebfeffb5bdf64cb8ae15408d4fe">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     {{content_for_header}}
  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %} {% if template contains "collection" %}{{ collection.title | replace:' '}}{% endif %} {% if request.path == '/pages/contact' %}contact__us{% endif %} {% if template contains 'page' %}{{ page.title | handelize }}{% endif %} {{ page.title }}"
    data-center-text="{{ settings.type_body_align_text }}"
    data-button_style="{{ settings.button_style }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-type_headers_align_text="{{ settings.type_headers_align_text }}"
    data-type_product_capitalize="{{ settings.type_product_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    {% if settings.disable_animations %}
      data-disable-animations="true"
    {% endif %}
  >
    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        <main class="main-content sw-min-h-screen sw-relative" id="MainContent">
          {% if settings['show-overlay'] %}
            <div class="body-overlay xl:sw-hidden">
              {% render 'icons-v2', icon: 'icon-body-overlay' %}
            </div>
            <div class="body-overlay body-overlay-desktop sw-hidden xl:sw-block"></div>
          {% endif %}

          {{ content_for_layout }}
        </main>
      </div>
    </div>
  </body>
</html>
