{% render 'vite-tag' with 'header-v2.js' %}

{% style %}
  #shopify-section-{{ section.id }}{
      position:sticky;
      top:0px;
      z-index:1000;

      /* NEW: Nav color vars (admin controlled) */
      --nav-text-color: {{ section.settings.nav_text_color }};
      --nav-accent-color: {{ section.settings.nav_accent_color }};
  }

  /* NEW: Safe nav/link coloring (doesn't remove existing functionality) */
  #shopify-section-{{ section.id }} a,
  #shopify-section-{{ section.id }} [data-role="nav-link"],
  #shopify-section-{{ section.id }} .mega-menu a,
  #shopify-section-{{ section.id }} nav a {
    color: var(--nav-text-color);
  }

  #shopify-section-{{ section.id }} a:hover,
  #shopify-section-{{ section.id }} [aria-current="page"],
  #shopify-section-{{ section.id }} .is-active > a {
    color: var(--nav-accent-color);
  }

  /* OPTIONAL: If icons follow currentColor, they will also change automatically */
  #shopify-section-{{ section.id }} a svg,
  #shopify-section-{{ section.id }} button svg {
    color: var(--nav-text-color);
  }
  #shopify-section-{{ section.id }} a:hover svg,
  #shopify-section-{{ section.id }} button:hover svg {
    color: var(--nav-accent-color);
  }

  .header-cashback-icon::before{
      content:'';
      position:absolute;
      top:50%;
      left:50%;
      width:112%;
      height:112%;
      transform: translate(-50%,-50%);
      background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="63" height="25" viewBox="0 0 63 25" fill="none"><path d="M55.5 0.53125C59.3737 2.65474 62 6.77056 62 11.4998C62 18.4033 56.4036 23.9998 49.5 23.9998H13.5C6.59644 23.9998 1 18.4033 1 11.4998C1 6.77056 3.62631 2.65474 7.5 0.53125" stroke="%23FF90BB" stroke-linecap="round"/></svg>');
      background-position:center;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events:none;
  }

  @media(max-width:768px){
      [data-role="header-top-bar"],
      #shopify-section-announcement-bar-v2 {
          position: sticky;
          top: 0;
          z-index: 30;
          transition: transform 0.3s ease, opacity 0.3s ease;
          transform: translateY(0);
          opacity: 1;
      }

      [data-role="header-top-bar"].is-hidden,
      #shopify-section-announcement-bar-v2.shopify-section.is-hidden {
          transform: translateY(-100%);
          opacity: 0;
          position: absolute;
      }

      [data-role="header-top-bar"].is-visible,
      #shopify-section-announcement-bar-v2.shopify-section.is-visible {
          transform: translateY(0);
          opacity: 1;
      }
      #shopify-section-header-v2 {
          position: sticky;
          top: 0;
          transition: top 0.3s ease;
      }
      .sticky-header {
          top: 52px !important;
      }
      .sticky-announcementbar {
          position: sticky;
          top: 0;
          z-index: 9;
      }
      [data-role="header-top-bar"].is-hidden + div {
          padding-top: 10px;
      }
      [data-role="mobile-search-wrapper"]>[data-role="header-actions"] {
          display: none;
      }
      [data-role="mobile-search-wrapper"].is-hidden {
          display: grid;
          grid-template-columns: 1fr 30px;
          gap: 20px;
      }

      [data-role="mobile-search-wrapper"].is-hidden > [data-role="header-actions"]{
          display: flex;
      }
      [data-role="mobile-search-wrapper"].is-hidden.expand-search{
          grid-template-columns: 1fr;
      }
       [data-role="mobile-search-wrapper"].is-hidden.expand-search > [data-role="header-actions"] {
          display: none;
      }
      body.menu-open{
          overflow:hidden;
      }
      body.menu-open [data-role="header-top-bar"] {
          transform: none !important;
          opacity: 1 !important;
          position: sticky !important;
      }

      body.menu-open #shopify-section-announcement-bar-v2 {
          transform: none !important;
          opacity: 1 !important;
          position: sticky !important;
      }

      body.menu-open cart-popup
      {
          z-index: 999;
      }
  }
{% endstyle %}

{% liquid
  assign type_inputs = ''
  if section.settings.featured_search != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search | append: ','
  endif
  if section.settings.featured_search_2 != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search_2 | append: ','
  endif
  if section.settings.featured_search_3 != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search_3 | append: ','
  endif
  if section.settings.featured_search_4 != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search_4 | append: ','
  endif
  if section.settings.featured_search_5 != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search_5 | append: ','
  endif
  if section.settings.featured_search_6 != blank
    assign type_inputs = type_inputs | append: section.settings.featured_search_6 | append: ','
  endif
%}

<sticky-header
  data-sticky="{{ section.settings.sticky_header }}"
  data-landing-scroll="{{ section.settings.enable_landing_scroll }}"
  data-landing-offset="{{ section.settings.landing_scroll_offset }}"
>
  <script type="applicationId/json" data-id="header-settings">
    {
      "data": {
        "featured_text_1": "{{ section.settings.featured_search }}",
        "featured_text_2": "{{ section.settings.featured_search_2 }}",
        "featured_text_3": "{{ section.settings.featured_search_3 }}"
      }
    }
  </script>
<header>
  <div class="xl:mb-relative" style="background-color:{{ section.settings.header_bg }};" data-role="header-wrapper">
    <div
      data-role="header-top-bar "
      class="
        mb-py-3  mb-items-center
        mb-px-4
        mb-grid mb-grid-cols-[100px,1fr,0,100px] mb-gap-0 xl:mb-flex
         mb-max-w-[1240px] mb-mx-auto xl:mb-py-6 xl:mb-px-0
      "
    >
      <button data-role="nav-display" class="xl:mb-hidden">{% render 'icons-v2', icon: 'icon-hamburger' %}</button>
      <div class="" data-role="header-icon">
        <h1 class="mb-mb-0">
          <a href="{{ shop.url }}" class="mb-text-[24px] mb-flex mb-items-center mb-justify-center">
            {% liquid
              assign logo_type = section.settings.logo_type
              if logo_type == 'svg'
                assign logo = section.settings.logo_svg
              else
                assign logo = section.settings.logo_image
              endif
            %}
            {% if logo != blank %}
              {% if logo_type == 'svg' %}
                <span class="mb-flex mb-items-center mb-w-[200px] xl:mb-w-[220px]">{{ logo }}</span>
              {% else %}
              <span class="mb-inline-block xl:mb-hidden">
                  {{ logo | image_url: width: 140 | image_tag: loading: 'lazy', alt: shop.name }}
                </span>
                 <span class=" mb-hidden xl:mb-inline-block">
                  {{ logo | image_url: width: 200 | image_tag: loading: 'lazy', alt: shop.name }}
                </span>
              {% endif %}
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
          </h1>
      </div>

      {% render 'mega-menu-v2', section: section %}
      {% render 'mobile-nav-v2', section: section %}
      <div class="mb-ml-auto mb-flex mb-gap-3 mb-items-center" data-role="header-actions">
        {% if section.settings.enable_search %}
          <div class="mb-hidden xl:mb-flex">
            <predective-search class="xl:mb-min-w-[250px] mb-block" data-inputs="{{ type_inputs }}">
              <label
                for="search-input"
                class="mb-bg-[#fff] mb-border-none mb-rounded-full mb-mb-0 mb-flex mb-gap-3 xl:mb-gap-1 mb-items-center mb-px-[10px] mb-py-[6px]"
              >
                <button data-role="search-icon">{% render 'icons-v2', icon: 'icon-search' %}</button>
                <input
                  data-role="search-input"
                  class="mb-text-[14px] mb-font-primary mb-peer mb-w-full mb-p-0 mb-bg-transparent !mb-outline-none !mb-border-none mb-font-normal placeholder:mb-text-[#303030] placeholder:mb-font-bold [&.active]:placeholder:mb-text-[#A6A6A6] [&.active]:placeholder:mb-font-normal mb-tracking-normal"
                  type="text"
                  id="search-input"
                  placeholder=""
                  autocomplete="off"
                >
                <button data-role="search-close" class="peer-[&.active]:mb-block mb-hidden">
                  {% render 'icons-v2', icon: 'icon-search-close', class: 'mb-w-[20px] mb-h-[20px]' %}
                </button>
              </label>
            </predective-search>
          </div>
        {% endif %}

        {% if customer %}
          <a
            href="{{ routes.account_url }}"
            class="mb-group mb-inline-flex mb-items-center mb-gap-2 mb-rounded-full mb-border xl:mb-border-[#FF60A6]/25 mb-bg-white/70 mb-backdrop-blur xl:mb-px-3.5 xl:mb-py-2 mb-shadow-[0_6px_18px_rgba(0,0,0,0.06)] mb-transition hover:mb-bg-white hover:mb-border-[#FF60A6]/40 hover:mb-shadow-[0_10px_26px_rgba(0,0,0,0.10)]"
            aria-label="My account"
          >
            <span class="mb-grid mb-place-items-center mb-h-7 mb-w-7 mb-rounded-full mb-bg-[#FFF6FA] mb-border mb-border-black/5 mb-transition group-hover:mb-bg-white">
              {%- render 'icons-v2', icon: 'icon-quickpass' -%}
            </span>

            <span class="mb-hidden md:mb-inline mb-font-primary mb-text-[13px] mb-leading-none mb-font-semibold  mb-max-w-[120px] mb-truncate">
              {{ customer.first_name | default: 'Account' }}
            </span>
          </a>
        {% else %}
          <a
            href="{{ routes.account_login_url }}"
            class="mb-group mb-inline-flex mb-items-center mb-gap-3 mb-rounded-full xl:mb-border mb-border-[#FF60A6]/25 mb-bg-white/70 mb-backdrop-blur xl:mb-px-6 xl:mb-py-2 mb-shadow-[0_6px_18px_rgba(0,0,0,0.06)] mb-transition hover:mb-bg-white hover:mb-border-[#FF60A6]/40 hover:mb-shadow-[0_10px_26px_rgba(0,0,0,0.10)]"
            aria-label="Login or register"
          >
            <span class="mb-grid mb-place-items-center mb-h-6 mb-w-6 mb-rounded-full mb-bg-[#FFF6FA] mb-border mb-border-black/5 mb-transition group-hover:mb-bg-white">
              {%- render 'icons-v2', icon: 'icon-quickpass' -%}
            </span>

            <span class="mb-hidden md:mb-inline mb-font-primary mb-text-[13px] mb-leading-none mb-font-semibold ">
              Login
            </span>
          </a>
        {% endif %}

        {% comment %}
          <button class="mb-hidden xl:mb-block">
            <a href="{{ section.settings.tracking_url }}">{% render 'icons-v2', icon: 'icon-shipping' %}</a>
          </button>
        {% endcomment %}

        {% comment %}
          <button data-role="cart-open" class="mb-relative">
            {% render 'icons-v2', icon: 'icon-cart' -%}
            <span
              data-role="cart-count"
              class="mb-bg-[#fc2679] mb-text-[#fff] mb-text-[10px] mb-absolute mb-top-0 mb-left-[50%] mb-rounded-full mb-w-[16px] mb-h-[16px] mb-flex mb-justify-center mb-items-center mb-border-none cart-link__bubble-num {% if cart.item_count == 0 %}mb-opacity-0{% endif %}"
            >
              {{- cart.item_count -}}
            </span>
          </button>
        {% endcomment %}
      </div>
    </div>

    {% if section.settings.enable_search %}
      <div
        class="mb-px-[18px] mb-pb-2 md:mb-max-w-[400px] md:mb-mx-auto mb-relative mb-z-[9] xl:mb-hidden"
        data-role="mobile-search-wrapper"
      >
        <predective-search data-inputs="{{ type_inputs }}">
          <label
            for="search-input"
            class="mb-bg-[#fff] mb-border-none mb-rounded-full mb-flex mb-gap-3 mb-items-center mb-px-[10px] mb-py-[6px] mb-mb-0"
          >
            <button data-role="search-icon">{% render 'icons-v2', icon: 'icon-search' %}</button>
            <input
              data-role="search-input"
              class="mb-text-[14px] mb-font-primary mb-peer mb-w-full mb-p-0 mb-bg-transparent !mb-outline-none !mb-border-none mb-font-normal placeholder:mb-text-[#303030] placeholder:mb-font-medium placeholder:mb-font-primary [&.active]:placeholder:mb-text-[#A6A6A6] [&.active]:placeholder:mb-font-normal mb-tracking-normal"
              type="text"
              id="search-input"
              autocomplete="off"
              placeholder=""
            >
            <button data-role="search-close" class="mb-hidden peer-[&.active]:mb-block">
              {% render 'icons-v2', icon: 'icon-search-close', class: 'mb-w-[20px] mb-h-[20px]' %}
            </button>
          </label>
        </predective-search>

        <div class="mb-ml-auto mb-flex mb-gap-3 mb-items-center" data-role="header-actions">
          <button class="mb-hidden xl:mb-block">
            <a href="{{ section.settings.tracking_url }}">{% render 'icons-v2', icon: 'icon-shipping' %}</a>
          </button>
          <button data-role="cart-open" class="mb-relative">
            {% render 'icons-v2', icon: 'icon-cart' -%}
            <span
              data-role="cart-count"
              class="mb-bg-[#fc2679] mb-text-[#fff] mb-text-[10px] mb-absolute mb-top-0 mb-left-[50%] mb-rounded-full mb-w-[16px] mb-h-[16px] mb-flex mb-justify-center mb-items-center mb-border-none cart-link__bubble-num {% if cart.item_count == 0 %}mb-opacity-0{% endif %}"
            >
              {{- cart.item_count -}}
            </span>
          </button>
        </div>
      </div>

      <div
        data-id="search-container"
        class="mb-absolute xl:mb-max-w-[600px] xl:mb-overflow-hidden xl:mb-rounded-md xl:mb-right-[165px] xl:mb-left-[unset] mb-bg-[#fff] mb-w-full mb-group mb-h-full mb-bottom-0 mb-left-0 mb-translate-y-full mb-min-h-[480px] mb-hidden"
      ></div>
    {% endif %}
  </div>
  </header>

</sticky-header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "label": "Header background color",
      "id": "header_bg",
      "default": "#FFFFFF"
    },

    {
      "type": "color",
      "id": "nav_text_color",
      "label": "Navigation text color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "nav_accent_color",
      "label": "Navigation accent color",
      "default": "#724430"
    },

    {
      "type": "checkbox",
      "label": "Enable sticky header",
      "id": "sticky_header",
      "default": true
    },
    {
      "type": "select",
      "label": "Logo type",
      "id": "logo_type",
      "options": [
        { "value": "svg", "label": "SVG" },
        { "value": "image", "label": "Image" }
      ],
      "default": "svg"
    },
    {
      "type": "html",
      "label": "Logo Svg",
      "id": "logo_svg"
    },
    {
      "type": "image_picker",
      "label": "Choose logo image",
      "id": "logo_image"
    },
    {
      "type": "link_list",
      "label": "Choose mobile navigation",
      "id": "mobile_navigation"
    },
    {
      "type": "link_list",
      "label": "Choose desktop navigation",
      "id": "desktop_navigation"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable Search",
      "default": false
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search",
      "default": "Search for Holographic Eyeliner"
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search_2",
      "default": "Search for Holographic Lipstick"
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search_3",
      "default": "Search for Holographic Brush"
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search_4",
      "default": "Search for Holographic Brush"
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search_5",
      "default": "Search for Holographic Brush"
    },
    {
      "type": "text",
      "label": "Feratured search text",
      "id": "featured_search_6",
      "default": "Search for Holographic Brush"
    },
    {
      "type": "url",
      "label": "Tracking page url",
      "id": "tracking_url"
    },
    {
      "type": "checkbox",
      "label": "Display cashback icon",
      "id": "cashback_icon"
    },
    {
      "type": "checkbox",
      "id": "enable_landing_scroll",
      "label": "Landing page: smooth scroll for menu (#section-id)",
      "default": false
    },
    {
      "type": "range",
      "id": "landing_scroll_offset",
      "label": "Landing scroll offset (sticky header height)",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "style",
      "name": "Navigation Style",
      "settings": [
        { "type": "text", "label": "Enter navigation title", "id": "navigation_title" },
        { "type": "color", "label": "Choose text color", "id": "text_color" }
      ]
    },
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        { "type": "text", "label": "Parent Navigation Title", "id": "parent_nav_title" },
        { "type": "image_picker", "label": "Choose Image", "id": "image" },
        { "type": "url", "label": "Redirection Link", "id": "redirection_link" },
        { "type": "text", "label": "Image Title", "id": "image_title" }
      ]
    }
  ]
}
{% endschema %}
