<style>
   #pricing .section_heading span {
    font-size: 22px;
        padding: 4px 12px;
   
  }


  @media(min-width:1200px){
  #pricing .section_heading span{
    font-size: 36px;
    
      } 

  
  }
</style>

<style>
  #pricing .section_heading span {
    font-size: 22px;
    padding: 4px 12px;
  }

  @media (min-width: 1200px) {
    #pricing .section_heading span {
      font-size: 36px;
    }
  }
</style> 

<section
  id="pricing"
  class="sw-bg-[#1e1e1e] sw-text-white sw-py-10 xl:sw-py-16"
  style="background-color: {{ section.settings.section_bg }}; color: {{ section.settings.section_text_color }};"
>
  <div class="sw-max-w-[1110px] sw-mx-auto sw-px-4 lg:sw-px-0 sw-relative sw-z-10">

    {%- comment -%} SECTION HEADING {%- endcomment -%}
    <div class="sw-text-center sw-mb-7 xl:sw-mb-[76px]">
      {% if section.settings.section_title != blank %}
        <h3
          class="section_heading sw-text-center sw-pb-2 sw-text-[22px] sw-text-[#01C5E3] sw-font-semibold xl:sw-text-[48px]"
          style="color: {{ section.settings.section_title_color }};"
        >
          {{ section.settings.section_title }}
        </h3>
      {% endif %}
    </div>

    {%- comment -%} PRICING CARDS GRID {%- endcomment -%}
    <div class="sw-grid sw-grid-cols-1 xl:sw-grid-cols-3 sw-gap-11 xl:sw-gap-10 sw-mb-[18px] xl:sw-mb-10
    
    xl:sw-flex xl:sw-flex-nowrap xl:sw-justify-center
    ">

      {%- comment -%} CARD 1 {%- endcomment -%}
      {% if section.settings.enable_card1 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]
        
        xl:sw-w-1/3
        "
        style="border-color: {{ section.settings.card1_border_color | default: '#383838' }};">
        {% if section.settings.card1_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card1_accent }};"
            >
              {{ section.settings.card1_label }}
            </div>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card1_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card1_icon | img_url: '120x' }}"
                  alt="Plan icon 1"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}
            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card1_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card1_price }}
              </span>
              {% if section.settings.card1_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card1_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card1_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card1_accent }};"
              >
                {{ section.settings.card1_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card1_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card1_accent }};"
              >
                {{ section.settings.card1_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card1_accent }};
              background: {{ section.settings.card1_inner_bg }};
              {% if section.settings.card1_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card1_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card1_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card1_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card1_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card1_btn_bg }};"
                >
                  {{ section.settings.card1_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {%- comment -%} CARD 2 {%- endcomment -%}
      {% if section.settings.enable_card2 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]
        xl:sw-w-1/3
        "
        style="border-color: {{ section.settings.card2_border_color | default: '#383838' }};">
        {% if section.settings.card2_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card2_accent }};"
            >
              {{ section.settings.card2_label }}
            </div>
            <span class="sw-absolute sw--top-5 sw-left-1/2 sw--translate-x-1/2">
              <!-- small badge icon above label -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8 19.1999H4.2C3.87 19.1999 3.6 19.4699 3.6 19.7999V20.9999C3.6 21.3299 3.87 21.5999 4.2 21.5999H19.8C20.13 21.5999 20.4 21.3299 20.4 20.9999V19.7999C20.4 19.4699 20.13 19.1999 19.8 19.1999ZM22.2 7.1999C21.2063 7.1999 20.4 8.00615 20.4 8.9999C20.4 9.26615 20.46 9.51365 20.565 9.7424L17.85 11.3699C17.2725 11.7149 16.5263 11.5199 16.1925 10.9349L13.1363 5.5874C13.5375 5.2574 13.8 4.7624 13.8 4.1999C13.8 3.20615 12.9938 2.3999 12 2.3999C11.0063 2.3999 10.2 3.20615 10.2 4.1999C10.2 4.7624 10.4625 5.2574 10.8638 5.5874L7.8075 10.9349C7.47375 11.5199 6.72375 11.7149 6.15 11.3699L3.43875 9.7424C3.54 9.5174 3.60375 9.26615 3.60375 8.9999C3.60375 8.00615 2.7975 7.1999 1.80375 7.1999C0.81 7.1999 0 8.00615 0 8.9999C0 9.99365 0.80625 10.7999 1.8 10.7999C1.8975 10.7999 1.995 10.7849 2.08875 10.7699L4.8 17.9999H19.2L21.9113 10.7699C22.005 10.7849 22.1025 10.7999 22.2 10.7999C23.1938 10.7999 24 9.99365 24 8.9999C24 8.00615 23.1938 7.1999 22.2 7.1999Z" fill="#EBB658"/>
              </svg>
            </span>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card2_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card2_icon | img_url: '120x' }}"
                  alt="Plan icon 2"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}
            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card2_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card2_price }}
              </span>
              {% if section.settings.card2_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card2_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card2_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card2_accent }};"
              >
                {{ section.settings.card2_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card2_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card2_accent }};"
              >
                {{ section.settings.card2_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card2_accent }};
              background: {{ section.settings.card2_inner_bg }};
              {% if section.settings.card2_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card2_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card2_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card2_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card2_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card2_btn_bg }};"
                >
                  {{ section.settings.card2_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {%- comment -%} CARD 3 {%- endcomment -%}
      {% if section.settings.enable_card3 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]
        xl:sw-w-1/3
        "
        style="border-color: {{ section.settings.card3_border_color | default: '#383838' }};">
        {% if section.settings.card3_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card3_accent }};"
            >
              {{ section.settings.card3_label }}
            </div>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card3_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card3_icon | img_url: '120x' }}"
                  alt="Plan icon 3"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}

            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card3_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card3_price }}
              </span>
              {% if section.settings.card3_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card3_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card3_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card3_accent }};"
              >
                {{ section.settings.card3_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card3_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card3_accent }};"
              >
                {{ section.settings.card3_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card3_accent }};
              background: {{ section.settings.card3_inner_bg }};
              {% if section.settings.card3_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card3_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card3_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card3_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card3_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card3_btn_bg }};"
                >
                  {{ section.settings.card3_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

    </div>

    {%- comment -%} SAFE & SECURE CHECKOUT BOX {%- endcomment -%}
    <div class="sw-rounded-2xl sw-border-[#D9D9D9] sw-border-2 sw-bg-[#1e1e1e] sw-px-[14px] sw-py-[10px] xl:sw-px-6 xl:sw-py-6 sw-flex sw-flex-col sw-gap-4 xl:sw-gap-6 sw-items-start xl:sw-items-center
    ">
      <div class="sw-w-full">
        <p class="sw-text-[16px] sw-leading-normal sw-font-heading sw-font-semibold sw-mb-3 xl:sw-text-[28px]">
          {{ section.settings.secure_title }}
        </p>
        {% if section.settings.secure_subtitle != blank %}
          <p class="sw-text-xs sw-items-center sw-text-[#fff] sw-flex sw-gap-2 xl:sw-text-[18px]">
            <span>{{ section.settings.secure_subtitle }}</span>
            <span class="sw-flex sw-items-center sw-gap-1">
              <!-- Razorpay icon small -->
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" fill="none">
                <path d="M14.8739 8.38023C12.6547 9.79239 10.4354 11.2045 8.10775 12.6857C8.42841 11.5434 8.80651 10.5304 8.98089 9.48392C9.16448 8.38227 9.77025 7.75579 10.6853 7.18269C14.3523 4.88588 17.9739 2.51756 21.6113 0.174022C21.7042 0.114131 21.7847 0.0351967 22 0C21.9485 0.287065 21.9175 0.579523 21.8425 0.860384C20.8181 4.69511 19.7933 8.52975 18.7571 12.3613C17.6481 16.4623 16.53 20.5608 15.3984 24.6556C15.3596 24.796 15.1345 24.9811 14.9936 24.9835C13.5314 25.0075 12.0686 24.9983 10.5502 24.9983C11.1472 22.7655 11.7266 20.5754 12.319 18.3888C13.1904 15.1718 14.0714 11.9573 14.9463 8.74122C14.9608 8.68756 14.9495 8.62694 14.9857 8.51059C15.0281 8.39984 15.0352 8.34807 15.0422 8.2963C14.9861 8.32428 14.93 8.35225 14.8739 8.38023Z" fill="white"/>
                <path d="M4.15211 16.3396C7.24874 14.3608 10.3088 12.4031 13.4932 10.366C13.1633 11.6384 12.8779 12.7739 12.5738 13.9046C12.0263 15.941 11.4675 17.9744 10.9135 20.0091C10.4943 21.5489 10.0831 23.0909 9.64353 24.6248C9.60088 24.7737 9.38396 24.9789 9.24674 24.9799C6.18956 25.0002 3.13222 24.9954 0 24.9954C0.0482725 24.7398 0.0730506 24.5401 0.124371 24.3474C0.676717 22.2731 1.20361 20.1911 1.81683 18.1346C1.92319 17.7779 2.37166 17.4931 2.71166 17.2409C3.15372 16.9131 3.64531 16.6512 4.15211 16.3396Z" fill="white"/>
              </svg>
              <span>Razorpay</span>
            </span>
          </p>
        {% endif %}
      </div>

      <div class="sw-flex sw-items-center sw-gap-2 sw-w-full sw-justify-between  xl:sw-items-end xl:sw-text-right">
        <div class="sw-flex sw-items-center sw-gap-2 ">
          <div class="sw-flex sw-items-center sw-justify-center xl:sw-hidden">
          <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M33.1914 3.9375C33.1597 3.63977 33.026 3.40795 32.7903 3.24205C32.5568 3.07614 32.2531 2.99318 31.8791 2.99318C31.6162 2.99318 31.3907 3.03295 31.2026 3.1125C31.0145 3.19205 30.8706 3.3 30.7708 3.43636C30.6711 3.57273 30.6201 3.72841 30.6178 3.90341C30.6178 4.04886 30.6507 4.175 30.7164 4.28182C30.7844 4.38864 30.8762 4.47955 30.9918 4.55455C31.1074 4.62727 31.2355 4.68864 31.376 4.73864C31.5165 4.78864 31.6582 4.83068 31.8009 4.86477L32.4537 5.02841C32.7166 5.08977 32.9693 5.17273 33.2118 5.27727C33.4566 5.38182 33.6753 5.51364 33.868 5.67273C34.0629 5.83182 34.217 6.02386 34.3303 6.24886C34.4437 6.47386 34.5003 6.7375 34.5003 7.03977C34.5003 7.44886 34.3961 7.80909 34.1875 8.12045C33.979 8.42955 33.6776 8.67159 33.2832 8.84659C32.8911 9.01932 32.4163 9.10568 31.8587 9.10568C31.3171 9.10568 30.8468 9.02159 30.4479 8.85341C30.0512 8.68523 29.7407 8.43977 29.5163 8.11705C29.2942 7.79432 29.1741 7.40114 29.156 6.9375H30.3969C30.415 7.18068 30.4898 7.38296 30.6212 7.54432C30.7527 7.70568 30.9238 7.82614 31.1346 7.90568C31.3477 7.98523 31.5856 8.025 31.8485 8.025C32.1228 8.025 32.363 7.98409 32.5693 7.90227C32.7778 7.81818 32.941 7.70227 33.0588 7.55455C33.1767 7.40455 33.2368 7.22955 33.239 7.02955C33.2368 6.84773 33.1835 6.69773 33.0792 6.57955C32.975 6.45909 32.8288 6.35909 32.6407 6.27955C32.4548 6.19773 32.2372 6.125 31.9879 6.06136L31.1958 5.85682C30.6224 5.70909 30.1691 5.48523 29.8359 5.18523C29.505 4.88296 29.3396 4.48182 29.3396 3.98182C29.3396 3.57045 29.4506 3.21023 29.6727 2.90114C29.8971 2.59205 30.202 2.35227 30.5872 2.18182C30.9726 2.00909 31.4088 1.92273 31.8961 1.92273C32.3902 1.92273 32.8231 2.00909 33.1948 2.18182C33.5688 2.35227 33.8623 2.58977 34.0754 2.89432C34.2884 3.19659 34.3983 3.54432 34.4051 3.9375H33.1914Z" fill="white"/> <path d="M35.6248 9V2.01818H40.1532V3.07841H36.8861V4.97386H39.9186V6.03409H36.8861V7.93977H40.1804V9H35.6248Z" fill="white"/> <path d="M47.3997 4.37386H46.1282C46.0919 4.16477 46.0251 3.97955 45.9276 3.81818C45.8302 3.65455 45.7089 3.51591 45.5639 3.40227C45.4188 3.28864 45.2533 3.20341 45.0675 3.14659C44.8839 3.0875 44.6856 3.05795 44.4725 3.05795C44.094 3.05795 43.7586 3.15341 43.4662 3.34432C43.1738 3.53295 42.9449 3.81023 42.7795 4.17614C42.614 4.53977 42.5313 4.98409 42.5313 5.50909C42.5313 6.04318 42.614 6.49318 42.7795 6.85909C42.9472 7.22273 43.1761 7.49773 43.4662 7.68409C43.7586 7.86818 44.0929 7.96023 44.4691 7.96023C44.6777 7.96023 44.8726 7.93295 45.0539 7.87841C45.2375 7.82159 45.4018 7.73864 45.5469 7.62955C45.6942 7.52045 45.8177 7.38636 45.9174 7.22727C46.0194 7.06818 46.0897 6.88636 46.1282 6.68182L47.3997 6.68864C47.3521 7.02045 47.249 7.33182 47.0903 7.62273C46.9339 7.91364 46.7288 8.17045 46.475 8.39318C46.2211 8.61364 45.9242 8.78636 45.5843 8.91136C45.2443 9.03409 44.8669 9.09546 44.4521 9.09546C43.8402 9.09546 43.294 8.95341 42.8135 8.66932C42.333 8.38523 41.9545 7.975 41.678 7.43864C41.4015 6.90227 41.2632 6.25909 41.2632 5.50909C41.2632 4.75682 41.4026 4.11364 41.6814 3.57955C41.9602 3.04318 42.3398 2.63295 42.8203 2.34886C43.3008 2.06477 43.8447 1.92273 44.4521 1.92273C44.8397 1.92273 45.2001 1.97727 45.5333 2.08636C45.8664 2.19545 46.1633 2.35568 46.424 2.56705C46.6846 2.77614 46.8988 3.03295 47.0665 3.3375C47.2365 3.63977 47.3476 3.98523 47.3997 4.37386Z" fill="white"/> <path d="M52.9438 2.01818H54.2051V6.57955C54.2051 7.07955 54.0872 7.51932 53.8515 7.89886C53.6181 8.27841 53.2894 8.575 52.8656 8.78864C52.4418 9 51.9465 9.10568 51.3799 9.10568C50.811 9.10568 50.3147 9 49.8908 8.78864C49.467 8.575 49.1384 8.27841 48.9049 7.89886C48.6715 7.51932 48.5548 7.07955 48.5548 6.57955V2.01818H49.816V6.47386C49.816 6.76477 49.8795 7.02386 50.0064 7.25114C50.1356 7.47841 50.3169 7.65682 50.5504 7.78636C50.7838 7.91364 51.0603 7.97727 51.3799 7.97727C51.6995 7.97727 51.976 7.91364 52.2094 7.78636C52.4452 7.65682 52.6265 7.47841 52.7534 7.25114C52.8803 7.02386 52.9438 6.76477 52.9438 6.47386V2.01818Z" fill="white"/> <path d="M55.576 9V2.01818H58.187C58.7219 2.01818 59.1707 2.11136 59.5333 2.29773C59.8982 2.48409 60.1736 2.74545 60.3594 3.08182C60.5475 3.41591 60.6416 3.80568 60.6416 4.25114C60.6416 4.69886 60.5464 5.0875 60.356 5.41705C60.1679 5.74432 59.8903 5.99773 59.5231 6.17727C59.1559 6.35455 58.7049 6.44318 58.17 6.44318H56.3104V5.39318H58C58.3128 5.39318 58.5689 5.35 58.7683 5.26364C58.9678 5.175 59.1151 5.04659 59.2103 4.87841C59.3078 4.70795 59.3565 4.49886 59.3565 4.25114C59.3565 4.00341 59.3078 3.79205 59.2103 3.61705C59.1129 3.43977 58.9644 3.30568 58.7649 3.21477C58.5655 3.12159 58.3083 3.075 57.9932 3.075H56.8373V9H55.576ZM59.1729 5.83636L60.8966 9H59.4891L57.796 5.83636H59.1729Z" fill="white"/> <path d="M61.8026 9V2.01818H66.331V3.07841H63.0639V4.97386H66.0964V6.03409H63.0639V7.93977H66.3582V9H61.8026Z" fill="white"/> <path d="M32.6326 17.7703C32.6048 17.5098 32.4878 17.307 32.2816 17.1618C32.0773 17.0166 31.8116 16.944 31.4843 16.944C31.2543 16.944 31.057 16.9788 30.8924 17.0484C30.7278 17.118 30.6018 17.2125 30.5146 17.3318C30.4273 17.4511 30.3827 17.5874 30.3807 17.7405C30.3807 17.8678 30.4095 17.9781 30.467 18.0716C30.5265 18.1651 30.6068 18.2446 30.7079 18.3102C30.8091 18.3739 30.9211 18.4276 31.0441 18.4713C31.167 18.5151 31.291 18.5518 31.4159 18.5817L31.9871 18.7249C32.2171 18.7786 32.4383 18.8511 32.6505 18.9426C32.8646 19.0341 33.056 19.1494 33.2246 19.2886C33.3951 19.4278 33.53 19.5959 33.6291 19.7928C33.7283 19.9896 33.7779 20.2203 33.7779 20.4848C33.7779 20.8428 33.6867 21.158 33.5042 21.4304C33.3218 21.7009 33.058 21.9126 32.7129 22.0658C32.3698 22.2169 31.9544 22.2925 31.4665 22.2925C30.9925 22.2925 30.581 22.2189 30.232 22.0717C29.8849 21.9246 29.6132 21.7098 29.4169 21.4274C29.2225 21.145 29.1174 20.801 29.1016 20.3953H30.1874C30.2032 20.6081 30.2687 20.7851 30.3837 20.9263C30.4987 21.0675 30.6484 21.1729 30.8329 21.2425C31.0193 21.3121 31.2275 21.3469 31.4576 21.3469C31.6975 21.3469 31.9078 21.3111 32.0882 21.2395C32.2707 21.1659 32.4135 21.0645 32.5166 20.9352C32.6197 20.804 32.6723 20.6509 32.6742 20.4759C32.6723 20.3168 32.6257 20.1855 32.5344 20.0821C32.4432 19.9767 32.3153 19.8892 32.1507 19.8196C31.9881 19.748 31.7977 19.6844 31.5795 19.6287L30.8864 19.4497C30.3847 19.3205 29.988 19.1246 29.6965 18.8621C29.407 18.5976 29.2622 18.2466 29.2622 17.8091C29.2622 17.4491 29.3594 17.1339 29.5537 16.8635C29.7501 16.593 30.0168 16.3832 30.3539 16.2341C30.6911 16.083 31.0728 16.0074 31.4992 16.0074C31.9316 16.0074 32.3103 16.083 32.6356 16.2341C32.9628 16.3832 33.2196 16.5911 33.406 16.8575C33.5925 17.122 33.6886 17.4263 33.6946 17.7703H32.6326Z" fill="white"/> <path d="M38.0727 17.7703C38.0449 17.5098 37.9279 17.307 37.7217 17.1618C37.5174 17.0166 37.2516 16.944 36.9244 16.944C36.6944 16.944 36.4971 16.9788 36.3325 17.0484C36.1678 17.118 36.0419 17.2125 35.9547 17.3318C35.8674 17.4511 35.8228 17.5874 35.8208 17.7405C35.8208 17.8678 35.8495 17.9781 35.9071 18.0716C35.9666 18.1651 36.0469 18.2446 36.148 18.3102C36.2492 18.3739 36.3612 18.4276 36.4842 18.4713C36.6071 18.5151 36.7311 18.5518 36.856 18.5817L37.4272 18.7249C37.6572 18.7786 37.8783 18.8511 38.0905 18.9426C38.3047 19.0341 38.4961 19.1494 38.6647 19.2886C38.8352 19.4278 38.9701 19.5959 39.0692 19.7928C39.1684 19.9896 39.218 20.2203 39.218 20.4848C39.218 20.8428 39.1267 21.158 38.9443 21.4304C38.7618 21.7009 38.4981 21.9126 38.153 22.0658C37.8099 22.2169 37.3944 22.2925 36.9066 22.2925C36.4326 22.2925 36.0211 22.2189 35.6721 22.0717C35.325 21.9246 35.0533 21.7098 34.857 21.4274C34.6626 21.145 34.5575 20.801 34.5417 20.3953H35.6274C35.6433 20.6081 35.7087 20.7851 35.8238 20.9263C35.9388 21.0675 36.0885 21.1729 36.273 21.2425C36.4594 21.3121 36.6676 21.3469 36.8977 21.3469C37.1376 21.3469 37.3478 21.3111 37.5283 21.2395C37.7108 21.1659 37.8535 21.0645 37.9567 20.9352C38.0598 20.804 38.1123 20.6509 38.1143 20.4759C38.1123 20.3168 38.0657 20.1855 37.9745 20.0821C37.8833 19.9767 37.7554 19.8892 37.5908 19.8196C37.4282 19.748 37.2378 19.6844 37.0196 19.6287L36.3265 19.4497C35.8248 19.3205 35.4281 19.1246 35.1366 18.8621C34.8471 18.5976 34.7023 18.2466 34.7023 17.8091C34.7023 17.4491 34.7995 17.1339 34.9938 16.8635C35.1901 16.593 35.4569 16.3832 35.794 16.2341C36.1312 16.083 36.5129 16.0074 36.9393 16.0074C37.3716 16.0074 37.7504 16.083 38.0757 16.2341C38.4029 16.3832 38.6597 16.5911 38.8461 16.8575C39.0325 17.122 39.1287 17.4263 39.1347 17.7703H38.0727Z" fill="white"/> <path d="M40.2019 22.2V16.0909H41.3055V21.2723H43.9887V22.2H40.2019Z" fill="white"/> <path d="M47.0245 22.2V16.0909H50.9868V17.0186H48.1281V18.6771H50.7816V19.6048H48.1281V21.2723H51.0106V22.2H47.0245Z" fill="white"/> <path d="M53.142 19.5153V22.2H52.0652V17.6182H53.0944V18.3967H53.148C53.2531 18.1402 53.4207 17.9364 53.6507 17.7852C53.8827 17.6341 54.1693 17.5585 54.5104 17.5585C54.8257 17.5585 55.1004 17.6261 55.3344 17.7614C55.5704 17.8966 55.7529 18.0925 55.8818 18.349C56.0127 18.6055 56.0771 18.9168 56.0751 19.2827V22.2H54.9983V19.4497C54.9983 19.1435 54.9189 18.9038 54.7603 18.7308C54.6036 18.5578 54.3865 18.4713 54.1088 18.4713C53.9204 18.4713 53.7528 18.5131 53.6061 18.5966C53.4613 18.6781 53.3473 18.7964 53.264 18.9516C53.1827 19.1067 53.142 19.2946 53.142 19.5153Z" fill="white"/> <path d="M59.1629 22.2895C58.7068 22.2895 58.3151 22.1891 57.9879 21.9882C57.6627 21.7874 57.4118 21.5099 57.2353 21.156C57.0608 20.8 56.9735 20.3903 56.9735 19.927C56.9735 19.4616 57.0628 19.051 57.2412 18.695C57.4197 18.3371 57.6716 18.0587 57.9968 17.8598C58.324 17.6589 58.7108 17.5585 59.157 17.5585C59.5278 17.5585 59.856 17.6271 60.1416 17.7643C60.4292 17.8996 60.6582 18.0915 60.8288 18.3401C60.9993 18.5866 61.0965 18.875 61.1203 19.2051H60.091C60.0494 18.9844 59.9502 18.8004 59.7936 18.6533C59.6389 18.5041 59.4317 18.4295 59.1719 18.4295C58.9517 18.4295 58.7584 18.4892 58.5918 18.6085C58.4252 18.7259 58.2953 18.8949 58.2021 19.1156C58.1109 19.3364 58.0652 19.6009 58.0652 19.9091C58.0652 20.2213 58.1109 20.4898 58.2021 20.7145C58.2933 20.9372 58.4212 21.1092 58.5858 21.2305C58.7524 21.3499 58.9478 21.4095 59.1719 21.4095C59.3305 21.4095 59.4723 21.3797 59.5972 21.32C59.7242 21.2584 59.8303 21.1699 59.9155 21.0545C60.0008 20.9392 60.0593 20.799 60.091 20.6339H61.1203C61.0945 20.9581 60.9993 21.2455 60.8347 21.496C60.6701 21.7446 60.446 21.9395 60.1624 22.0807C59.8789 22.2199 59.5457 22.2895 59.1629 22.2895Z" fill="white"/> <path d="M62.0046 22.2V17.6182H63.0487V18.3818H63.0963C63.1796 18.1173 63.3224 17.9135 63.5247 17.7703C63.7289 17.6251 63.9619 17.5526 64.2237 17.5526C64.2832 17.5526 64.3497 17.5555 64.423 17.5615C64.4984 17.5655 64.5609 17.5724 64.6104 17.5824V18.5757C64.5648 18.5598 64.4924 18.5459 64.3933 18.5339C64.2961 18.52 64.2019 18.5131 64.1107 18.5131C63.9144 18.5131 63.7379 18.5558 63.5812 18.6413C63.4265 18.7249 63.3045 18.8412 63.2153 18.9903C63.126 19.1395 63.0814 19.3115 63.0814 19.5064V22.2H62.0046Z" fill="white"/> <path d="M66.1343 23.9182C65.9875 23.9182 65.8517 23.9063 65.7267 23.8824C65.6038 23.8605 65.5056 23.8347 65.4322 23.8048L65.6821 22.9636C65.8388 23.0094 65.9786 23.0313 66.1015 23.0293C66.2245 23.0273 66.3326 22.9885 66.4258 22.9129C66.521 22.8393 66.6013 22.7161 66.6667 22.543L66.759 22.2955L65.102 17.6182H66.2443L67.2974 21.0784H67.345L68.401 17.6182H69.5463L67.7168 22.7548C67.6316 22.9974 67.5185 23.2053 67.3777 23.3783C67.2369 23.5533 67.0644 23.6865 66.8601 23.778C66.6578 23.8714 66.4159 23.9182 66.1343 23.9182Z" fill="white"/> <path d="M70.2915 23.9182V17.6182H71.3505V18.3759H71.413C71.4685 18.2645 71.5468 18.1462 71.648 18.0209C71.7491 17.8936 71.8859 17.7852 72.0585 17.6957C72.231 17.6043 72.4511 17.5585 72.7189 17.5585C73.0719 17.5585 73.3902 17.649 73.6738 17.83C73.9593 18.0089 74.1854 18.2744 74.352 18.6264C74.5206 18.9764 74.6049 19.406 74.6049 19.9151C74.6049 20.4182 74.5226 20.8457 74.358 21.1977C74.1934 21.5497 73.9693 21.8182 73.6857 22.0031C73.4021 22.1881 73.0808 22.2805 72.7218 22.2805C72.4601 22.2805 72.2429 22.2368 72.0704 22.1493C71.8978 22.0618 71.759 21.9564 71.6539 21.8331C71.5508 21.7078 71.4705 21.5895 71.413 21.4781H71.3683V23.9182H70.2915ZM71.3475 19.9091C71.3475 20.2054 71.3892 20.4649 71.4725 20.6876C71.5577 20.9104 71.6797 21.0844 71.8383 21.2097C71.999 21.333 72.1933 21.3946 72.4214 21.3946C72.6594 21.3946 72.8587 21.331 73.0193 21.2037C73.18 21.0744 73.3009 20.8984 73.3822 20.6757C73.4655 20.451 73.5072 20.1955 73.5072 19.9091C73.5072 19.6247 73.4665 19.3722 73.3852 19.1514C73.3039 18.9307 73.1829 18.7577 73.0223 18.6324C72.8617 18.5071 72.6614 18.4445 72.4214 18.4445C72.1914 18.4445 71.996 18.5051 71.8354 18.6264C71.6747 18.7477 71.5528 18.9178 71.4695 19.1365C71.3882 19.3553 71.3475 19.6128 71.3475 19.9091Z" fill="white"/> <path d="M77.8087 17.6182V18.4534H75.182V17.6182H77.8087ZM75.8305 16.5205H76.9073V20.8219C76.9073 20.967 76.9291 21.0784 76.9728 21.156C77.0184 21.2315 77.0779 21.2832 77.1513 21.3111C77.2246 21.3389 77.3059 21.3528 77.3952 21.3528C77.4626 21.3528 77.5241 21.3479 77.5796 21.3379C77.6371 21.328 77.6808 21.319 77.7105 21.3111L77.892 22.1553C77.8345 22.1751 77.7522 22.197 77.6451 22.2209C77.54 22.2447 77.411 22.2587 77.2583 22.2626C76.9886 22.2706 76.7457 22.2298 76.5295 22.1403C76.3134 22.0489 76.1418 21.9077 76.0149 21.7168C75.89 21.5259 75.8285 21.2872 75.8305 21.0009V16.5205Z" fill="white"/> <path d="M78.7093 22.2V17.6182H79.7861V22.2H78.7093ZM79.2507 16.9679C79.0801 16.9679 78.9334 16.9112 78.8104 16.7979C78.6875 16.6825 78.626 16.5443 78.626 16.3832C78.626 16.2202 78.6875 16.082 78.8104 15.9686C78.9334 15.8533 79.0801 15.7956 79.2507 15.7956C79.4232 15.7956 79.57 15.8533 79.6909 15.9686C79.8139 16.082 79.8754 16.2202 79.8754 16.3832C79.8754 16.5443 79.8139 16.6825 79.6909 16.7979C79.57 16.9112 79.4232 16.9679 79.2507 16.9679Z" fill="white"/> <path d="M82.8866 22.2895C82.4404 22.2895 82.0536 22.1911 81.7264 21.9942C81.3992 21.7973 81.1454 21.5219 80.9649 21.1679C80.7864 20.8139 80.6972 20.4003 80.6972 19.927C80.6972 19.4537 80.7864 19.0391 80.9649 18.6831C81.1454 18.3271 81.3992 18.0507 81.7264 17.8538C82.0536 17.657 82.4404 17.5585 82.8866 17.5585C83.3328 17.5585 83.7195 17.657 84.0467 17.8538C84.3739 18.0507 84.6268 18.3271 84.8053 18.6831C84.9858 19.0391 85.076 19.4537 85.076 19.927C85.076 20.4003 84.9858 20.8139 84.8053 21.1679C84.6268 21.5219 84.3739 21.7973 84.0467 21.9942C83.7195 22.1911 83.3328 22.2895 82.8866 22.2895ZM82.8925 21.4244C83.1345 21.4244 83.3368 21.3578 83.4994 21.2246C83.662 21.0893 83.783 20.9084 83.8623 20.6817C83.9436 20.455 83.9843 20.2024 83.9843 19.924C83.9843 19.6436 83.9436 19.3901 83.8623 19.1634C83.783 18.9347 83.662 18.7527 83.4994 18.6175C83.3368 18.4822 83.1345 18.4146 82.8925 18.4146C82.6446 18.4146 82.4384 18.4822 82.2738 18.6175C82.1112 18.7527 81.9892 18.9347 81.9079 19.1634C81.8286 19.3901 81.7889 19.6436 81.7889 19.924C81.7889 20.2024 81.8286 20.455 81.9079 20.6817C81.9892 20.9084 82.1112 21.0893 82.2738 21.2246C82.4384 21.3578 82.6446 21.4244 82.8925 21.4244Z" fill="white"/> <path d="M87.0668 19.5153V22.2H85.99V17.6182H87.0192V18.3967H87.0728C87.1779 18.1402 87.3455 17.9364 87.5755 17.7852C87.8076 17.6341 88.0941 17.5585 88.4352 17.5585C88.7506 17.5585 89.0252 17.6261 89.2592 17.7614C89.4952 17.8966 89.6777 18.0925 89.8066 18.349C89.9375 18.6055 90.0019 18.9168 90 19.2827V22.2H88.9231V19.4497C88.9231 19.1435 88.8438 18.9038 88.6851 18.7308C88.5284 18.5578 88.3113 18.4713 88.0336 18.4713C87.8452 18.4713 87.6777 18.5131 87.5309 18.5966C87.3861 18.6781 87.2721 18.7964 87.1888 18.9516C87.1075 19.1067 87.0668 19.2946 87.0668 19.5153Z" fill="white"/> <path d="M22.7373 9.6C22.0193 9.6 21.5406 9.12 21.5406 8.4V2.4H15.5571C14.8391 2.4 14.3604 1.92 14.3604 1.2C14.3604 0.48 14.8391 0 15.5571 0H22.7373C23.4553 0 23.934 0.48 23.934 1.2V8.4C23.934 9.12 23.4553 9.6 22.7373 9.6ZM1.1967 9.6C0.47868 9.6 0 9.12 0 8.4V1.2C0 0.48 0.47868 0 1.1967 0H8.3769C9.09492 0 9.5736 0.48 9.5736 1.2C9.5736 1.92 9.09492 2.4 8.3769 2.4H2.3934V8.4C2.3934 9.12 1.91472 9.6 1.1967 9.6ZM8.3769 24H1.1967C0.47868 24 0 23.52 0 22.8V15.6C0 14.88 0.47868 14.4 1.1967 14.4C1.91472 14.4 2.3934 14.88 2.3934 15.6V21.6H8.3769C9.09492 21.6 9.5736 22.08 9.5736 22.8C9.5736 23.52 9.09492 24 8.3769 24ZM22.7373 24H15.5571C14.8391 24 14.3604 23.52 14.3604 22.8C14.3604 22.08 14.8391 21.6 15.5571 21.6H21.5406V15.6C21.5406 14.88 22.0193 14.4 22.7373 14.4C23.4553 14.4 23.934 14.88 23.934 15.6V22.8C23.934 23.52 23.4553 24 22.7373 24Z" fill="#01C5E3"/> <path d="M8.37684 9.60023H15.557C16.8734 9.60023 17.9504 10.6802 17.9504 12.0002V16.8002C17.9504 18.1202 16.8734 19.2002 15.557 19.2002H8.37684C7.06047 19.2002 5.98344 18.1202 5.98344 16.8002V12.0002C5.98344 10.6802 7.06047 9.60023 8.37684 9.60023ZM10.7702 8.40024C10.7702 7.68023 11.2489 7.20023 11.9669 7.20023C12.685 7.20023 13.1636 7.68023 13.1636 8.40024V9.60023H15.557V8.40024C15.557 6.36023 14.0013 4.80023 11.9669 4.80023C9.93255 4.80023 8.37684 6.36023 8.37684 8.40024V9.60023H10.7702V8.40024Z" fill="white"/> </svg>
          </div>
          <div class="sw-items-center sw-justify-center sw-hidden xl:sw-flex ">
            <svg xmlns="http://www.w3.org/2000/svg" width="241" height="64" viewBox="0 0 241 64" fill="none"> <path d="M88.8793 10.5C88.7943 9.70606 88.4362 9.08788 87.805 8.64545C87.1799 8.20303 86.3667 7.98182 85.3653 7.98182C84.6612 7.98182 84.0574 8.08788 83.5536 8.3C83.0499 8.51212 82.6645 8.8 82.3975 9.16364C82.1304 9.52727 81.9939 9.94242 81.9878 10.4091C81.9878 10.797 82.0758 11.1333 82.2518 11.4182C82.4339 11.703 82.6797 11.9455 82.9892 12.1455C83.2987 12.3394 83.6416 12.503 84.0179 12.6364C84.3942 12.7697 84.7735 12.8818 85.1559 12.9727L86.9038 13.4091C87.6078 13.5727 88.2845 13.7939 88.9339 14.0727C89.5894 14.3515 90.175 14.703 90.6909 15.1273C91.2129 15.5515 91.6256 16.0636 91.929 16.6636C92.2325 17.2636 92.3842 17.9667 92.3842 18.7727C92.3842 19.8636 92.105 20.8242 91.5467 21.6545C90.9883 22.4788 90.1811 23.1242 89.1251 23.5909C88.0751 24.0515 86.8036 24.2818 85.3106 24.2818C83.8601 24.2818 82.6008 24.0576 81.5326 23.6091C80.4705 23.1606 79.639 22.5061 79.0382 21.6455C78.4434 20.7848 78.1218 19.7364 78.0732 18.5H81.396C81.4446 19.1485 81.6449 19.6879 81.9969 20.1182C82.3489 20.5485 82.8071 20.8697 83.3716 21.0818C83.9421 21.2939 84.5793 21.4 85.2833 21.4C86.0177 21.4 86.661 21.2909 87.2133 21.0727C87.7717 20.8485 88.2086 20.5394 88.5242 20.1455C88.8398 19.7455 89.0007 19.2788 89.0067 18.7455C89.0007 18.2606 88.858 17.8606 88.5789 17.5455C88.2997 17.2242 87.9082 16.9576 87.4045 16.7455C86.9068 16.5273 86.3242 16.3333 85.6566 16.1636L83.5354 15.6182C81.9999 15.2242 80.7861 14.6273 79.8939 13.8273C79.0079 13.0212 78.5648 11.9515 78.5648 10.6182C78.5648 9.52121 78.8622 8.56061 79.457 7.73636C80.0578 6.91212 80.8741 6.27273 81.9059 5.81818C82.9376 5.35757 84.1059 5.12727 85.4108 5.12727C86.7338 5.12727 87.8931 5.35757 88.8884 5.81818C89.8898 6.27273 90.6757 6.90606 91.2462 7.71818C91.8167 8.52424 92.1111 9.45152 92.1293 10.5H88.8793Z" fill="white"/> <path d="M95.3952 24V5.38182H107.521V8.20909H98.7727V13.2636H106.893V16.0909H98.7727V21.1727H107.594V24H95.3952Z" fill="white"/> <path d="M126.926 11.6636H123.521C123.424 11.1061 123.245 10.6121 122.984 10.1818C122.723 9.74545 122.398 9.37576 122.01 9.07273C121.621 8.7697 121.178 8.54242 120.681 8.39091C120.189 8.23333 119.658 8.15455 119.088 8.15455C118.074 8.15455 117.176 8.40909 116.393 8.91818C115.61 9.42121 114.997 10.1606 114.554 11.1364C114.111 12.1061 113.889 13.2909 113.889 14.6909C113.889 16.1152 114.111 17.3152 114.554 18.2909C115.003 19.2606 115.616 19.9939 116.393 20.4909C117.176 20.9818 118.071 21.2273 119.078 21.2273C119.637 21.2273 120.159 21.1545 120.644 21.0091C121.136 20.8576 121.576 20.6364 121.964 20.3455C122.359 20.0545 122.69 19.697 122.957 19.2727C123.23 18.8485 123.418 18.3636 123.521 17.8182L126.926 17.8364C126.798 18.7212 126.522 19.5515 126.097 20.3273C125.679 21.103 125.129 21.7879 124.45 22.3818C123.77 22.9697 122.975 23.4303 122.064 23.7636C121.154 24.0909 120.144 24.2545 119.033 24.2545C117.394 24.2545 115.932 23.8758 114.645 23.1182C113.358 22.3606 112.345 21.2667 111.604 19.8364C110.864 18.4061 110.494 16.6909 110.494 14.6909C110.494 12.6848 110.867 10.9697 111.613 9.54545C112.36 8.11515 113.377 7.02121 114.663 6.26364C115.95 5.50606 117.406 5.12727 119.033 5.12727C120.071 5.12727 121.036 5.27273 121.928 5.56364C122.82 5.85455 123.615 6.28182 124.313 6.84545C125.011 7.40303 125.585 8.08788 126.034 8.9C126.489 9.70606 126.786 10.6273 126.926 11.6636Z" fill="white"/> <path d="M141.772 5.38182H145.149V17.5455C145.149 18.8788 144.834 20.0515 144.202 21.0636C143.577 22.0758 142.697 22.8667 141.562 23.4364C140.427 24 139.101 24.2818 137.584 24.2818C136.061 24.2818 134.732 24 133.597 23.4364C132.462 22.8667 131.582 22.0758 130.957 21.0636C130.331 20.0515 130.019 18.8788 130.019 17.5455V5.38182H133.396V17.2636C133.396 18.0394 133.566 18.7303 133.906 19.3364C134.252 19.9424 134.738 20.4182 135.363 20.7636C135.988 21.103 136.728 21.2727 137.584 21.2727C138.44 21.2727 139.18 21.103 139.805 20.7636C140.436 20.4182 140.922 19.9424 141.262 19.3364C141.602 18.7303 141.772 18.0394 141.772 17.2636V5.38182Z" fill="white"/> <path d="M148.82 24V5.38182H155.812C157.244 5.38182 158.446 5.6303 159.417 6.12727C160.394 6.62424 161.131 7.32121 161.629 8.21818C162.133 9.10909 162.385 10.1485 162.385 11.3364C162.385 12.5303 162.13 13.5667 161.62 14.4455C161.116 15.3182 160.373 15.9939 159.39 16.4727C158.406 16.9455 157.199 17.1818 155.766 17.1818H150.787V14.3818H155.311C156.149 14.3818 156.835 14.2667 157.369 14.0364C157.903 13.8 158.297 13.4576 158.552 13.0091C158.813 12.5545 158.944 11.997 158.944 11.3364C158.944 10.6758 158.813 10.1121 158.552 9.64545C158.291 9.17273 157.894 8.81515 157.359 8.57273C156.825 8.32424 156.137 8.2 155.293 8.2H152.198V24H148.82ZM158.452 15.5636L163.067 24H159.299L154.765 15.5636H158.452Z" fill="white"/> <path d="M165.494 24V5.38182H177.62V8.20909H168.871V13.2636H176.992V16.0909H168.871V21.1727H177.693V24H165.494Z" fill="white"/> <path d="M87.3829 47.3875C87.3085 46.6928 86.9952 46.1519 86.4429 45.7648C85.8959 45.3777 85.1843 45.1841 84.3081 45.1841C83.6921 45.1841 83.1637 45.2769 82.7229 45.4625C82.2821 45.6481 81.9449 45.9 81.7113 46.2182C81.4776 46.5364 81.3581 46.8996 81.3528 47.308C81.3528 47.6474 81.4298 47.9417 81.5838 48.1909C81.7431 48.4402 81.9582 48.6523 82.229 48.8273C82.4999 48.997 82.7999 49.1402 83.1292 49.2568C83.4584 49.3735 83.7903 49.4716 84.1249 49.5511L85.6543 49.933C86.2703 50.0761 86.8624 50.2697 87.4307 50.5136C88.0042 50.7576 88.5167 51.0652 88.968 51.4364C89.4247 51.8076 89.7859 52.2557 90.0514 52.7807C90.3169 53.3057 90.4497 53.9208 90.4497 54.6261C90.4497 55.5807 90.2054 56.4212 89.7168 57.1477C89.2283 57.8689 88.522 58.4337 87.5979 58.842C86.6792 59.2451 85.5667 59.4466 84.2603 59.4466C82.9911 59.4466 81.8892 59.2504 80.9545 58.858C80.0252 58.4655 79.2977 57.8928 78.7719 57.1398C78.2515 56.3867 77.97 55.4693 77.9276 54.3875H80.835C80.8775 54.9549 81.0528 55.4269 81.3608 55.8034C81.6688 56.1799 82.0697 56.461 82.5636 56.6466C83.0628 56.8322 83.6204 56.925 84.2364 56.925C84.879 56.925 85.4419 56.8295 85.9251 56.6386C86.4137 56.4424 86.7961 56.172 87.0722 55.8273C87.3483 55.4773 87.4891 55.0689 87.4944 54.6023C87.4891 54.178 87.3643 53.828 87.12 53.5523C86.8757 53.2712 86.5332 53.0379 86.0924 52.8523C85.657 52.6614 85.1471 52.4917 84.563 52.3432L82.707 51.8659C81.3634 51.5212 80.3013 50.9989 79.5207 50.2989C78.7454 49.5936 78.3577 48.6576 78.3577 47.4909C78.3577 46.5311 78.6179 45.6905 79.1383 44.9693C79.6641 44.2481 80.3783 43.6886 81.2811 43.2909C82.1839 42.8879 83.2062 42.6864 84.3479 42.6864C85.5056 42.6864 86.5199 42.8879 87.3908 43.2909C88.2671 43.6886 88.9548 44.2428 89.454 44.9534C89.9531 45.6587 90.2107 46.4701 90.2266 47.3875H87.3829Z" fill="white"/> <path d="M101.95 47.3875C101.876 46.6928 101.563 46.1519 101.01 45.7648C100.463 45.3777 99.7516 45.1841 98.8754 45.1841C98.2594 45.1841 97.731 45.2769 97.2902 45.4625C96.8495 45.6481 96.5122 45.9 96.2786 46.2182C96.0449 46.5364 95.9254 46.8996 95.9201 47.308C95.9201 47.6474 95.9971 47.9417 96.1511 48.1909C96.3104 48.4402 96.5255 48.6523 96.7964 48.8273C97.0672 48.997 97.3672 49.1402 97.6965 49.2568C98.0257 49.3735 98.3576 49.4716 98.6922 49.5511L100.222 49.933C100.838 50.0761 101.43 50.2697 101.998 50.5136C102.572 50.7576 103.084 51.0652 103.535 51.4364C103.992 51.8076 104.353 52.2557 104.619 52.7807C104.884 53.3057 105.017 53.9208 105.017 54.6261C105.017 55.5807 104.773 56.4212 104.284 57.1477C103.796 57.8689 103.089 58.4337 102.165 58.842C101.247 59.2451 100.134 59.4466 98.8276 59.4466C97.5584 59.4466 96.4565 59.2504 95.5218 58.858C94.5925 58.4655 93.865 57.8928 93.3392 57.1398C92.8188 56.3867 92.5374 55.4693 92.4949 54.3875H95.4024C95.4448 54.9549 95.6201 55.4269 95.9281 55.8034C96.2361 56.1799 96.637 56.461 97.1309 56.6466C97.6301 56.8322 98.1877 56.925 98.8037 56.925C99.4463 56.925 100.009 56.8295 100.492 56.6386C100.981 56.4424 101.363 56.172 101.64 55.8273C101.916 55.4773 102.056 55.0689 102.062 54.6023C102.056 54.178 101.932 53.828 101.687 53.5523C101.443 53.2712 101.101 53.0379 100.66 52.8523C100.224 52.6614 99.7145 52.4917 99.1303 52.3432L97.2743 51.8659C95.9308 51.5212 94.8687 50.9989 94.088 50.2989C93.3127 49.5936 92.925 48.6576 92.925 47.4909C92.925 46.5311 93.1852 45.6905 93.7057 44.9693C94.2314 44.2481 94.9457 43.6886 95.8484 43.2909C96.7512 42.8879 97.7735 42.6864 98.9152 42.6864C100.073 42.6864 101.087 42.8879 101.958 43.2909C102.834 43.6886 103.522 44.2428 104.021 44.9534C104.52 45.6587 104.778 46.4701 104.794 47.3875H101.95Z" fill="white"/> <path d="M107.652 59.2V42.9091H110.607V56.7261H117.792V59.2H107.652Z" fill="white"/> <path d="M125.921 59.2V42.9091H136.531V45.383H128.876V49.8057H135.982V52.2795H128.876V56.7261H136.595V59.2H125.921Z" fill="white"/> <path d="M142.303 52.0409V59.2H139.419V46.9818H142.175V49.058H142.318C142.6 48.3739 143.049 47.8303 143.665 47.4273C144.286 47.0242 145.053 46.8227 145.967 46.8227C146.811 46.8227 147.547 47.003 148.173 47.3636C148.805 47.7242 149.294 48.2466 149.639 48.9307C149.989 49.6148 150.162 50.4447 150.157 51.4205V59.2H147.273V51.8659C147.273 51.0492 147.061 50.4102 146.636 49.9489C146.216 49.4875 145.635 49.2568 144.891 49.2568C144.387 49.2568 143.938 49.3682 143.545 49.5909C143.158 49.8083 142.852 50.1239 142.629 50.5375C142.411 50.9511 142.303 51.4523 142.303 52.0409Z" fill="white"/> <path d="M158.425 59.4386C157.204 59.4386 156.155 59.1708 155.279 58.6352C154.408 58.0996 153.736 57.3599 153.263 56.4159C152.796 55.4667 152.562 54.3742 152.562 53.1386C152.562 51.8977 152.801 50.8027 153.279 49.8534C153.757 48.8989 154.432 48.1564 155.303 47.6261C156.179 47.0905 157.214 46.8227 158.409 46.8227C159.402 46.8227 160.281 47.0057 161.046 47.3716C161.816 47.7322 162.429 48.2439 162.886 48.9068C163.343 49.5644 163.603 50.3333 163.667 51.2136H160.91C160.799 50.625 160.533 50.1345 160.114 49.742C159.7 49.3443 159.145 49.1455 158.449 49.1455C157.86 49.1455 157.342 49.3045 156.896 49.6227C156.45 49.9356 156.102 50.3864 155.852 50.975C155.608 51.5636 155.486 52.2689 155.486 53.0909C155.486 53.9235 155.608 54.6394 155.852 55.2386C156.097 55.8326 156.439 56.2913 156.88 56.6148C157.326 56.933 157.849 57.092 158.449 57.092C158.874 57.092 159.254 57.0125 159.588 56.8534C159.928 56.689 160.212 56.453 160.441 56.1455C160.669 55.8379 160.826 55.464 160.91 55.0239H163.667C163.598 55.8883 163.343 56.6545 162.902 57.3227C162.461 57.9856 161.861 58.5053 161.102 58.8818C160.342 59.253 159.45 59.4386 158.425 59.4386Z" fill="white"/> <path d="M166.034 59.2V46.9818H168.83V49.0182H168.958C169.181 48.3129 169.563 47.7693 170.105 47.3875C170.652 47.0004 171.276 46.8068 171.977 46.8068C172.136 46.8068 172.314 46.8148 172.511 46.8307C172.712 46.8413 172.88 46.8598 173.012 46.8864V49.5352C172.89 49.4928 172.696 49.4557 172.431 49.4239C172.171 49.3867 171.918 49.3682 171.674 49.3682C171.148 49.3682 170.676 49.4822 170.256 49.7102C169.842 49.933 169.515 50.2432 169.276 50.6409C169.038 51.0386 168.918 51.4974 168.918 52.017V59.2H166.034Z" fill="white"/> <path d="M177.093 63.7818C176.7 63.7818 176.336 63.75 176.002 63.6864C175.672 63.628 175.409 63.5591 175.213 63.4795L175.882 61.2364C176.302 61.3583 176.676 61.4167 177.005 61.4114C177.334 61.4061 177.624 61.3027 177.874 61.1011C178.128 60.9049 178.343 60.5761 178.519 60.1148L178.766 59.4545L174.329 46.9818H177.388L180.207 56.2091H180.335L183.163 46.9818H186.23L181.331 60.6795C181.102 61.3265 180.8 61.8807 180.423 62.342C180.045 62.8087 179.583 63.164 179.036 63.408C178.495 63.6572 177.847 63.7818 177.093 63.7818Z" fill="white"/> <path d="M188.225 63.7818V46.9818H191.061V49.0023H191.228C191.377 48.7053 191.587 48.3898 191.857 48.0557C192.128 47.7163 192.495 47.4273 192.957 47.1886C193.419 46.9447 194.008 46.8227 194.725 46.8227C195.67 46.8227 196.523 47.064 197.282 47.5466C198.047 48.0239 198.652 48.7318 199.098 49.6705C199.55 50.6038 199.775 51.7492 199.775 53.1068C199.775 54.4485 199.555 55.5886 199.114 56.5273C198.673 57.4659 198.073 58.1818 197.314 58.675C196.554 59.1682 195.694 59.4148 194.733 59.4148C194.032 59.4148 193.45 59.2981 192.988 59.0648C192.526 58.8314 192.155 58.5504 191.873 58.2216C191.597 57.8875 191.382 57.572 191.228 57.275H191.109V63.7818H188.225ZM191.053 53.0909C191.053 53.8811 191.164 54.5731 191.387 55.167C191.616 55.761 191.942 56.225 192.367 56.5591C192.797 56.8879 193.318 57.0523 193.928 57.0523C194.566 57.0523 195.099 56.8826 195.53 56.5432C195.96 56.1985 196.284 55.7292 196.501 55.1352C196.724 54.536 196.836 53.8545 196.836 53.0909C196.836 52.3326 196.727 51.6591 196.509 51.0705C196.292 50.4818 195.968 50.0205 195.538 49.6864C195.107 49.3523 194.571 49.1852 193.928 49.1852C193.312 49.1852 192.789 49.347 192.359 49.6705C191.929 49.9939 191.602 50.4473 191.379 51.0307C191.162 51.614 191.053 52.3008 191.053 53.0909Z" fill="white"/> <path d="M208.354 46.9818V49.2091H201.321V46.9818H208.354ZM203.057 44.0545H205.941V55.525C205.941 55.9121 205.999 56.2091 206.116 56.4159C206.238 56.6174 206.397 56.7553 206.594 56.8295C206.79 56.9038 207.008 56.9409 207.247 56.9409C207.428 56.9409 207.592 56.9277 207.741 56.9011C207.895 56.8746 208.012 56.8508 208.091 56.8295L208.577 59.0807C208.423 59.1337 208.203 59.192 207.916 59.2557C207.635 59.3193 207.29 59.3564 206.881 59.367C206.158 59.3883 205.508 59.2795 204.929 59.0409C204.35 58.797 203.891 58.4205 203.551 57.9114C203.216 57.4023 203.052 56.7659 203.057 56.0023V44.0545Z" fill="white"/> <path d="M210.766 59.2V46.9818H213.65V59.2H210.766ZM212.216 45.2477C211.759 45.2477 211.366 45.0966 211.037 44.7943C210.708 44.4867 210.543 44.1182 210.543 43.6886C210.543 43.2538 210.708 42.8852 211.037 42.583C211.366 42.2754 211.759 42.1216 212.216 42.1216C212.678 42.1216 213.071 42.2754 213.395 42.583C213.724 42.8852 213.889 43.2538 213.889 43.6886C213.889 44.1182 213.724 44.4867 213.395 44.7943C213.071 45.0966 212.678 45.2477 212.216 45.2477Z" fill="white"/> <path d="M221.952 59.4386C220.757 59.4386 219.721 59.1761 218.845 58.6511C217.969 58.1261 217.289 57.3917 216.806 56.4477C216.328 55.5038 216.089 54.4008 216.089 53.1386C216.089 51.8765 216.328 50.7708 216.806 49.8216C217.289 48.8723 217.969 48.1352 218.845 47.6102C219.721 47.0852 220.757 46.8227 221.952 46.8227C223.147 46.8227 224.182 47.0852 225.058 47.6102C225.935 48.1352 226.612 48.8723 227.09 49.8216C227.573 50.7708 227.815 51.8765 227.815 53.1386C227.815 54.4008 227.573 55.5038 227.09 56.4477C226.612 57.3917 225.935 58.1261 225.058 58.6511C224.182 59.1761 223.147 59.4386 221.952 59.4386ZM221.968 57.1318C222.616 57.1318 223.157 56.9542 223.593 56.5989C224.028 56.2383 224.352 55.7557 224.565 55.1511C224.782 54.5466 224.891 53.8731 224.891 53.1307C224.891 52.383 224.782 51.7068 224.565 51.1023C224.352 50.4924 224.028 50.0072 223.593 49.6466C223.157 49.286 222.616 49.1057 221.968 49.1057C221.304 49.1057 220.752 49.286 220.311 49.6466C219.875 50.0072 219.549 50.4924 219.331 51.1023C219.119 51.7068 219.012 52.383 219.012 53.1307C219.012 53.8731 219.119 54.5466 219.331 55.1511C219.549 55.7557 219.875 56.2383 220.311 56.5989C220.752 56.9542 221.304 57.1318 221.968 57.1318Z" fill="white"/> <path d="M233.146 52.0409V59.2H230.262V46.9818H233.018V49.058H233.162C233.443 48.3739 233.892 47.8303 234.508 47.4273C235.129 47.0242 235.897 46.8227 236.81 46.8227C237.654 46.8227 238.39 47.003 239.016 47.3636C239.648 47.7242 240.137 48.2466 240.482 48.9307C240.833 49.6148 241.005 50.4447 241 51.4205V59.2H238.116V51.8659C238.116 51.0492 237.904 50.4102 237.479 49.9489C237.059 49.4875 236.478 49.2568 235.735 49.2568C235.23 49.2568 234.781 49.3682 234.388 49.5909C234.001 49.8083 233.695 50.1239 233.472 50.5375C233.255 50.9511 233.146 51.4523 233.146 52.0409Z" fill="white"/> <path d="M60.8854 25.6C58.9627 25.6 57.681 24.32 57.681 22.4V6.4H41.6585C39.7358 6.4 38.454 5.12 38.454 3.2C38.454 1.28 39.7358 0 41.6585 0H60.8854C62.8081 0 64.09 1.28 64.09 3.2V22.4C64.09 24.32 62.8081 25.6 60.8854 25.6ZM3.2045 25.6C1.2818 25.6 0 24.32 0 22.4V3.2C0 1.28 1.2818 0 3.2045 0H22.4315C24.3542 0 25.636 1.28 25.636 3.2C25.636 5.12 24.3542 6.4 22.4315 6.4H6.40899V22.4C6.40899 24.32 5.1272 25.6 3.2045 25.6ZM22.4315 64H3.2045C1.2818 64 0 62.72 0 60.8V41.6C0 39.68 1.2818 38.4 3.2045 38.4C5.1272 38.4 6.40899 39.68 6.40899 41.6V57.6H22.4315C24.3542 57.6 25.636 58.88 25.636 60.8C25.636 62.72 24.3542 64 22.4315 64ZM60.8854 64H41.6585C39.7358 64 38.454 62.72 38.454 60.8C38.454 58.88 39.7358 57.6 41.6585 57.6H57.681V41.6C57.681 39.68 58.9627 38.4 60.8854 38.4C62.8081 38.4 64.09 39.68 64.09 41.6V60.8C64.09 62.72 62.8081 64 60.8854 64Z" fill="#01C5E3"/> <path d="M22.4313 25.6006H41.6583C45.1833 25.6006 48.0673 28.4806 48.0673 32.0006V44.8006C48.0673 48.3206 45.1833 51.2006 41.6583 51.2006H22.4313C18.9064 51.2006 16.0223 48.3206 16.0223 44.8006V32.0006C16.0223 28.4806 18.9064 25.6006 22.4313 25.6006ZM28.8403 22.4006C28.8403 20.4806 30.1221 19.2006 32.0448 19.2006C33.9675 19.2006 35.2493 20.4806 35.2493 22.4006V25.6006H41.6583V22.4006C41.6583 16.9606 37.4925 12.8006 32.0448 12.8006C26.5972 12.8006 22.4313 16.9606 22.4313 22.4006V25.6006H28.8403V22.4006Z" fill="white"/> </svg>
          </div>
        </div>
        <div class="sw-flex sw-flex-wrap sw-gap-3 sw-items-center xl:sw-hidden">
          {% if section.settings.show_upi %}
           <svg width="34" height="12" viewBox="0 0 34 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.27273 10.3058H0.52723L0.288889 11.2943C0.252532 11.4396 0.260611 11.5526 0.309087 11.6252C0.357563 11.6978 0.446436 11.7341 0.579746 11.7341C0.709016 11.7341 0.818087 11.6978 0.90292 11.6252C0.987754 11.5526 1.04431 11.4396 1.08067 11.2943L1.31901 10.3058H1.57755L1.33517 11.3185C1.28265 11.5364 1.18974 11.7019 1.05239 11.8108C0.919079 11.9198 0.741333 11.9762 0.52319 11.9762C0.305048 11.9762 0.155579 11.9238 0.0747856 11.8148C-0.00600808 11.7059 -0.0221667 11.5405 0.0303491 11.3226L0.27273 10.3058ZM1.54119 11.9319L1.94516 10.2412L2.7127 11.2338C2.7329 11.2621 2.75309 11.2903 2.77329 11.3226C2.79349 11.3549 2.81369 11.3912 2.83793 11.4315L3.10859 10.3058H3.34693L2.94296 11.9924L2.15926 10.9796L2.09867 10.8949C2.07847 10.8626 2.06231 10.8343 2.05019 10.798L1.77953 11.9278H1.54119V11.9319ZM3.32673 11.9319L3.71454 10.3058H3.97308L3.58527 11.9319H3.32673ZM3.95288 11.9319L4.34069 10.3058H5.22538L5.17286 10.5317H4.54671L4.44976 10.9352H5.07591L5.01936 11.1652H4.39321L4.21142 11.9278H3.95288V11.9319ZM5.12439 11.9319L5.5122 10.3058H5.77074L5.38293 11.9319H5.12439ZM5.75054 11.9319L6.13835 10.3058H7.02304L6.97052 10.5317H6.34437L6.24742 10.9393H6.87357L6.81701 11.1693H6.19086L6.06563 11.6938H6.69178L6.63523 11.9319H5.75054ZM6.93417 11.9319L7.32197 10.3058H7.66939C7.89561 10.3058 8.05316 10.3179 8.13799 10.3421C8.22282 10.3663 8.29554 10.4026 8.35209 10.4591C8.42481 10.5317 8.47328 10.6245 8.49348 10.7335C8.51368 10.8465 8.5056 10.9756 8.47328 11.1168C8.43693 11.2621 8.38441 11.3871 8.3117 11.5001C8.23898 11.6131 8.14607 11.7019 8.037 11.7745C7.9562 11.831 7.86733 11.8673 7.77038 11.8915C7.67747 11.9157 7.53608 11.9278 7.35025 11.9278H6.93417V11.9319ZM7.24926 11.6898H7.4674C7.58455 11.6898 7.67747 11.6817 7.7421 11.6656C7.80674 11.6494 7.86329 11.6212 7.91581 11.5849C7.98852 11.5324 8.04912 11.4678 8.09759 11.3871C8.14607 11.3105 8.18243 11.2177 8.20667 11.1128C8.2309 11.0079 8.23898 10.9191 8.22686 10.8424C8.21474 10.7658 8.18647 10.6972 8.13799 10.6447C8.10163 10.6044 8.0572 10.5801 7.9966 10.564C7.93601 10.5479 7.84309 10.5398 7.70978 10.5398H7.52396L7.24926 11.6898ZM9.66095 11.2015L9.48724 11.9319H9.24486L9.63267 10.3058H10.0245C10.1417 10.3058 10.2225 10.3138 10.275 10.3259C10.3275 10.3381 10.3679 10.3582 10.4002 10.3905C10.4406 10.4268 10.4689 10.4793 10.481 10.5438C10.4931 10.6084 10.4891 10.677 10.4729 10.7536C10.4527 10.8303 10.4244 10.9029 10.38 10.9675C10.3356 11.0321 10.2831 11.0845 10.2265 11.1208C10.178 11.1491 10.1255 11.1733 10.069 11.1854C10.0124 11.1975 9.92353 11.2056 9.81042 11.2056H9.66095V11.2015ZM9.72963 10.9836H9.79426C9.93565 10.9836 10.0366 10.9675 10.0932 10.9352C10.1498 10.9029 10.1861 10.8465 10.2063 10.7658C10.2265 10.681 10.2144 10.6165 10.174 10.5842C10.1296 10.5479 10.0407 10.5317 9.90737 10.5317H9.84274L9.72963 10.9836ZM11.3495 11.9319L11.2687 11.5122H10.6386L10.3558 11.9319H10.0851L11.2566 10.2412L11.6202 11.9319H11.3495ZM10.7921 11.2903H11.2324L11.1597 10.9191C11.1556 10.8949 11.1516 10.8666 11.1516 10.8384C11.1476 10.8061 11.1476 10.7738 11.1476 10.7375C11.1314 10.7738 11.1152 10.8061 11.095 10.8384C11.0789 10.8707 11.0627 10.8989 11.0466 10.9231L10.7921 11.2903ZM11.9918 11.9319L12.1696 11.1894L11.8464 10.3098H12.1171L12.3191 10.8626C12.3231 10.8787 12.3271 10.8949 12.3352 10.9191C12.3433 10.9433 12.3473 10.9675 12.3554 10.9917L12.4039 10.9191C12.4201 10.8949 12.4362 10.8747 12.4524 10.8545L12.925 10.3098H13.1836L12.4281 11.1854L12.2504 11.9278H11.9918V11.9319ZM14.452 11.1289C14.452 11.1168 14.4561 11.0805 14.4641 11.024C14.4682 10.9756 14.4722 10.9393 14.4763 10.907C14.4601 10.9433 14.4439 10.9796 14.4237 11.02C14.4035 11.0563 14.3793 11.0966 14.351 11.1329L13.7289 12.0005L13.5269 11.1168C13.5188 11.0805 13.5108 11.0442 13.5067 11.0119C13.5027 10.9796 13.4986 10.9433 13.4986 10.911C13.4906 10.9433 13.4784 10.9796 13.4663 11.02C13.4542 11.0563 13.4381 11.0966 13.4179 11.137L13.0543 11.9359H12.8159L13.5956 10.2412L13.8178 11.2661C13.8218 11.2822 13.8259 11.3105 13.8299 11.3468C13.8339 11.3831 13.842 11.4315 13.8501 11.488C13.8784 11.4396 13.9147 11.3831 13.9632 11.3105C13.9753 11.2903 13.9874 11.2782 13.9915 11.2661L14.6944 10.2412L14.6702 11.9359H14.4318L14.452 11.1289ZM14.8802 11.9319L15.268 10.3058H16.1527L16.1002 10.5317H15.4741L15.3771 10.9393H16.0033L15.9467 11.1693H15.3205L15.1953 11.6938H15.8215L15.7649 11.9319H14.8802ZM16.0598 11.9319L16.4638 10.2412L17.2313 11.2338C17.2515 11.2621 17.2717 11.2903 17.2919 11.3226C17.3121 11.3549 17.3323 11.3912 17.3565 11.4315L17.6272 10.3058H17.8655L17.4616 11.9924L16.6779 10.9796L16.6173 10.8949C16.5971 10.8626 16.5809 10.8343 16.5688 10.798L16.2981 11.9278H16.0598V11.9319ZM18.6896 10.5277L18.3543 11.9278H18.0958L18.4311 10.5277H18.011L18.0635 10.3017H19.1623L19.1098 10.5277H18.6896ZM18.9603 11.605L19.1906 11.5082C19.1946 11.5808 19.2148 11.6373 19.2592 11.6736C19.3037 11.7099 19.3643 11.7301 19.4451 11.7301C19.5218 11.7301 19.5864 11.7099 19.643 11.6656C19.6996 11.6212 19.7359 11.5647 19.7521 11.492C19.7763 11.3952 19.7198 11.3105 19.5824 11.2378C19.5622 11.2257 19.5501 11.2177 19.538 11.2136C19.3845 11.1249 19.2875 11.0482 19.2471 10.9756C19.2067 10.9029 19.1986 10.8182 19.2229 10.7173C19.2552 10.5842 19.3239 10.4793 19.4329 10.3945C19.542 10.3138 19.6632 10.2695 19.8086 10.2695C19.9258 10.2695 20.0187 10.2937 20.0874 10.338C20.156 10.3824 20.1924 10.451 20.2045 10.5358L19.9783 10.6407C19.9581 10.5882 19.9339 10.5519 19.9015 10.5277C19.8692 10.5035 19.8288 10.4914 19.7804 10.4914C19.7117 10.4914 19.6511 10.5116 19.6026 10.5479C19.5541 10.5842 19.5218 10.6326 19.5057 10.6972C19.4814 10.794 19.5501 10.8868 19.7076 10.9715C19.7198 10.9796 19.7278 10.9836 19.7359 10.9877C19.8733 11.0603 19.9662 11.1329 20.0066 11.2056C20.047 11.2782 20.0551 11.3629 20.0308 11.4719C19.9945 11.6252 19.9177 11.7463 19.8006 11.8391C19.6834 11.9278 19.5461 11.9762 19.3845 11.9762C19.2512 11.9762 19.1461 11.944 19.0734 11.8794C18.9926 11.8148 18.9563 11.722 18.9603 11.605ZM20.863 11.9319L21.2508 10.3058H21.5093L21.1215 11.9319H20.863ZM21.4932 11.9319L21.8971 10.2412L22.6647 11.2338C22.6849 11.2621 22.7051 11.2903 22.7253 11.3226C22.7455 11.3549 22.7657 11.3912 22.7899 11.4315L23.0606 10.3058H23.2989L22.8949 11.9924L22.1113 10.9796L22.0507 10.8949C22.0305 10.8626 22.0143 10.8343 22.0022 10.798L21.7315 11.9278H21.4932V11.9319ZM24.123 10.5277L23.7877 11.9278H23.5292L23.8645 10.5277H23.4443L23.4969 10.3017H24.5957L24.5431 10.5277H24.123ZM24.4018 11.9319L24.7896 10.3058H25.6783L25.6258 10.5317H24.9996L24.9027 10.9393H25.5288L25.4723 11.1693H24.8461L24.7209 11.6938H25.347L25.2905 11.9319H24.4018ZM25.9974 11.2015L25.8237 11.9278H25.5813L25.9691 10.3017H26.3287C26.4337 10.3017 26.5145 10.3098 26.567 10.3219C26.6236 10.334 26.668 10.3582 26.7003 10.3905C26.7407 10.4309 26.765 10.4793 26.7771 10.5438C26.7892 10.6044 26.7852 10.673 26.769 10.7496C26.7367 10.8787 26.6842 10.9836 26.6034 11.0563C26.5226 11.1289 26.4216 11.1733 26.3004 11.1894L26.668 11.9278H26.3772L26.0257 11.2015H25.9974ZM26.0621 10.9957H26.1105C26.2479 10.9957 26.3408 10.9796 26.3933 10.9473C26.4458 10.915 26.4822 10.8586 26.5024 10.7738C26.5226 10.6851 26.5145 10.6205 26.4741 10.5842C26.4337 10.5479 26.3489 10.5277 26.2196 10.5277H26.1711L26.0621 10.9957ZM26.8256 11.9319L27.2134 10.3058H28.0981L28.0455 10.5317H27.4194L27.3224 10.9352H27.9486L27.892 11.1652H27.2659L27.0841 11.9278H26.8256V11.9319ZM28.9585 11.9319L28.8777 11.5122H28.2475L27.9647 11.9319H27.6941L28.8656 10.2412L29.2292 11.9319H28.9585ZM28.397 11.2903H28.8373L28.7646 10.9191C28.7606 10.8949 28.7565 10.8666 28.7565 10.8384C28.7525 10.8061 28.7525 10.7738 28.7525 10.7375C28.7363 10.7738 28.7202 10.8061 28.7 10.8384C28.6838 10.8707 28.6677 10.8989 28.6515 10.9231L28.397 11.2903ZM30.9097 10.7012C30.8531 10.6366 30.7844 10.5882 30.7117 10.56C30.639 10.5277 30.5582 10.5116 30.4653 10.5116C30.2916 10.5116 30.1381 10.568 30.0007 10.681C29.8634 10.794 29.7745 10.9433 29.7301 11.1249C29.6897 11.2984 29.7059 11.4436 29.7866 11.5606C29.8634 11.6736 29.9846 11.7301 30.1462 11.7301C30.2391 11.7301 30.332 11.714 30.4249 11.6777C30.5178 11.6454 30.6107 11.5929 30.7077 11.5243L30.635 11.8229C30.5542 11.8754 30.4694 11.9117 30.3805 11.9359C30.2916 11.9601 30.2027 11.9722 30.1058 11.9722C29.9846 11.9722 29.8755 11.952 29.7826 11.9117C29.6897 11.8713 29.6129 11.8108 29.5523 11.7301C29.4918 11.6534 29.4554 11.5606 29.4392 11.4557C29.4231 11.3508 29.4271 11.2378 29.4594 11.1168C29.4877 10.9957 29.5362 10.8868 29.6008 10.7819C29.6655 10.677 29.7503 10.5842 29.8472 10.5075C29.9442 10.4268 30.0492 10.3663 30.1623 10.3259C30.2754 10.2856 30.3886 10.2654 30.5057 10.2654C30.5986 10.2654 30.6835 10.2775 30.7642 10.3058C30.841 10.334 30.9137 10.3744 30.9784 10.4309L30.9097 10.7012ZM30.9339 11.9319L31.3217 10.3058H32.2064L32.1539 10.5317H31.5277L31.4308 10.9393H32.0569L32.0004 11.1693H31.3742L31.249 11.6938H31.8752L31.8186 11.9319H30.9339Z" fill="#D9D9D9"/> <path d="M26.2316 8.88901H24.4582L26.9224 0H28.6959L26.2316 8.88901ZM25.3106 0.278412C25.1894 0.108944 24.9995 0.0242097 24.741 0.0242097H14.9973L14.5166 1.76731H23.3796L22.8625 3.62743H15.7729V3.62339H13.9995L12.529 8.92936H14.3025L15.2881 5.37053H23.2584C23.5089 5.37053 23.7432 5.2858 23.9613 5.11633C24.1795 4.94686 24.3249 4.73704 24.3936 4.48687L25.3793 0.92804C25.456 0.661733 25.4318 0.44788 25.3106 0.278412ZM11.4949 8.33219C11.3979 8.68323 11.0748 8.92936 10.7112 8.92936H1.56939C1.31893 8.92936 1.1331 8.84463 1.01191 8.67516C0.890722 8.50569 0.862445 8.29587 0.935159 8.04571L3.16506 0.0242097H4.93848L2.94692 7.1903H10.0406L12.0322 0.0242097H13.8056L11.4949 8.33219Z" fill="white"/> <path d="M31.7579 0.0164795L34 4.47107L29.2856 8.92567L31.7579 0.0164795Z" fill="#098041"/> <path d="M30.1826 0.0164795L32.4246 4.47107L27.7063 8.92567L30.1826 0.0164795Z" fill="#E97626"/> </svg>
          {% endif %}
          {% if section.settings.show_visa %}
            <span class="sw-text-xs xl:sw-text-sm sw-font-semibold">
                <svg width="37" height="12" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.0398 11.8H13.0207L14.9076 0.207148H17.9271L16.0398 11.8ZM10.4809 0.207148L7.60256 8.18079L7.26196 6.46376L6.24639 1.25095C6.24639 1.25095 6.12355 0.207148 4.81422 0.207148H0.0558351L0 0.403442C0 0.403442 1.45512 0.7061 3.15809 1.72851L5.7811 11.8003H8.92678L13.7301 0.207148H10.4809ZM34.2278 11.8H37L34.583 0.206838H32.156C31.0353 0.206838 30.7623 1.07078 30.7623 1.07078L26.2595 11.8H29.4067L30.0361 10.078H33.8742L34.2278 11.8ZM30.9056 7.6992L32.4919 3.36088L33.3844 7.6992H30.9056ZM26.4956 2.99496L26.9264 0.505465C26.9264 0.505465 25.5969 0 24.211 0C22.7128 0 19.1548 0.654624 19.1548 3.83782C19.1548 6.83278 23.3307 6.86999 23.3307 8.44313C23.3307 10.0163 19.5851 9.7344 18.3489 8.74238L17.9001 11.3454C17.9001 11.3454 19.2482 12 21.3079 12C23.3682 12 26.4763 10.9336 26.4763 8.03101C26.4763 5.01682 22.263 4.73618 22.263 3.42569C22.2633 2.11489 25.2036 2.28328 26.4956 2.99496Z" fill="#2566AF"/> <path d="M7.26196 6.46376L6.24639 1.25095C6.24639 1.25095 6.12355 0.207148 4.81422 0.207148H0.0558351L0 0.403442C0 0.403442 2.28706 0.877134 4.48076 2.65247C6.5783 4.34934 7.26196 6.46376 7.26196 6.46376Z" fill="#E6A540"/> </svg>
            </span>
          {% endif %}
          {% if section.settings.show_mastercard %}
            <span class="sw-text-xs xl:sw-text-sm sw-font-semibold">
                <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.5154 14.2899H9.48458V1.70905H16.5154V14.2899Z" fill="#FF5F00"/> <path d="M9.93092 8C9.92985 6.78846 10.2056 5.59256 10.7373 4.50282C11.2691 3.41309 12.0428 2.45809 13 1.71013C11.8147 0.782585 10.3912 0.205789 8.89223 0.0456571C7.39327 -0.114474 5.8793 0.148518 4.52334 0.80458C3.16738 1.46064 2.02414 2.48331 1.22426 3.7557C0.424376 5.0281 0.000129643 6.49889 0 8C0.000289299 9.50092 0.424586 10.9715 1.22441 12.2437C2.02424 13.5159 3.16734 14.5384 4.5231 15.1945C5.87887 15.8505 7.39262 16.1135 8.89141 15.9536C10.3902 15.7936 11.8136 15.2171 12.9989 14.2899C12.0421 13.5417 11.2686 12.5866 10.7371 11.4969C10.2056 10.4072 9.92988 9.21142 9.93092 8Z" fill="#EB001B"/> <path d="M26 8C25.9999 9.50111 25.5756 10.9719 24.7757 12.2443C23.9759 13.5167 22.8326 14.5394 21.4767 15.1954C20.1207 15.8515 18.6067 16.1145 17.1078 15.9543C15.6088 15.7942 14.1853 15.2174 13 14.2899C14.8688 12.825 16.0691 10.5522 16.0691 8C16.0691 5.44781 14.8688 3.175 13 1.71013C14.1853 0.782585 15.6088 0.205789 17.1078 0.0456571C18.6067 -0.114474 20.1207 0.148518 21.4767 0.80458C22.8326 1.46064 23.9759 2.48331 24.7757 3.7557C25.5756 5.0281 25.9999 6.49889 26 8Z" fill="#F79E1B"/> </svg>
            </span>
          {% endif %}
        
        </div>

         <div class=" sw-flex-wrap sw-gap-3 xl:sw-gap-10 sw-items-center sw-hidden xl:sw-flex">
          {% if section.settings.show_upi %}
            <svg xmlns="http://www.w3.org/2000/svg" width="114" height="40" viewBox="0 0 114 40" fill="none">
  <path d="M0.914448 34.3524H1.76777L0.968627 37.6476C0.846724 38.1318 0.873813 38.5084 1.03635 38.7505C1.19889 38.9926 1.49687 39.1137 1.94385 39.1137C2.37729 39.1137 2.743 38.9926 3.02744 38.7505C3.31188 38.5084 3.50151 38.1318 3.62341 37.6476L4.42255 34.3524H5.28942L4.47673 37.7283C4.30065 38.4546 3.98912 39.0061 3.5286 39.3692C3.08162 39.7323 2.48565 39.9206 1.75423 39.9206C1.02281 39.9206 0.521648 39.7458 0.250752 39.3827C-0.0201447 39.0195 -0.0743238 38.4681 0.101759 37.7418L0.914448 34.3524ZM5.16752 39.7727L6.522 34.1372L9.09552 37.4459C9.16324 37.54 9.23096 37.6342 9.29869 37.7418C9.36641 37.8494 9.43414 37.9704 9.51541 38.1049L10.4229 34.3524H11.2221L9.86757 39.9744L7.23988 36.5985L7.0367 36.3161C6.96898 36.2085 6.9148 36.1143 6.87417 35.9933L5.96666 39.7592H5.16752V39.7727ZM11.1543 39.7727L12.4546 34.3524H13.3215L12.0212 39.7727H11.1543ZM13.2538 39.7727L14.5541 34.3524H17.5204L17.3443 35.1056H15.2449L14.9198 36.4506H17.0192L16.8296 37.2172H14.7302L14.1206 39.7592H13.2538V39.7727ZM17.1818 39.7727L18.4821 34.3524H19.3489L18.0486 39.7727H17.1818ZM19.2812 39.7727L20.5815 34.3524H23.5478L23.3717 35.1056H21.2723L20.9472 36.464H23.0467L22.857 37.2307H20.7576L20.3377 38.9792H22.4372L22.2475 39.7727H19.2812ZM23.2498 39.7727L24.5501 34.3524H25.715C26.4735 34.3524 27.0018 34.3928 27.2862 34.4735C27.5706 34.5542 27.8144 34.6752 28.0041 34.8635C28.2479 35.1056 28.4104 35.4149 28.4781 35.7781C28.5459 36.1547 28.5188 36.5851 28.4104 37.0558C28.2885 37.54 28.1124 37.957 27.8686 38.3336C27.6248 38.7102 27.3133 39.0061 26.9476 39.2482C26.6767 39.4365 26.3787 39.5575 26.0536 39.6382C25.7421 39.7189 25.268 39.7592 24.645 39.7592H23.2498V39.7727ZM24.3063 38.9657H25.0378C25.4306 38.9657 25.7421 38.9388 25.9588 38.885C26.1755 38.8312 26.3652 38.7371 26.5412 38.616C26.785 38.4412 26.9882 38.226 27.1508 37.957C27.3133 37.7014 27.4352 37.3921 27.5165 37.0424C27.5977 36.6927 27.6248 36.3968 27.5842 36.1412C27.5436 35.8857 27.4487 35.657 27.2862 35.4822C27.1643 35.3477 27.0153 35.267 26.8121 35.2132C26.609 35.1594 26.2974 35.1325 25.8505 35.1325H25.2274L24.3063 38.9657ZM32.3926 37.3383L31.8102 39.7727H30.9975L32.2978 34.3524H33.6116C34.0044 34.3524 34.2753 34.3793 34.4514 34.4197C34.6275 34.46 34.7629 34.5273 34.8713 34.6348C35.0067 34.7559 35.1016 34.9307 35.1422 35.1459C35.1828 35.3611 35.1693 35.5898 35.1151 35.8453C35.0474 36.1009 34.9526 36.343 34.8036 36.5582C34.6546 36.7734 34.4785 36.9482 34.2889 37.0693C34.1263 37.1634 33.9502 37.2441 33.7606 37.2845C33.571 37.3248 33.273 37.3517 32.8938 37.3517H32.3926V37.3383ZM32.6229 36.612H32.8396C33.3136 36.612 33.6523 36.5582 33.8419 36.4506C34.0315 36.343 34.1534 36.1547 34.2211 35.8857C34.2889 35.6032 34.2482 35.388 34.1128 35.2804C33.9638 35.1594 33.6658 35.1056 33.2188 35.1056H33.0021L32.6229 36.612ZM38.0543 39.7727L37.7834 38.3739H35.6704L34.7223 39.7727H33.8148L37.7428 34.1372L38.9618 39.7727H38.0543ZM36.1851 37.6342H37.6615L37.4177 36.3968C37.4042 36.3161 37.3906 36.2219 37.3906 36.1278C37.3771 36.0202 37.3771 35.9126 37.3771 35.7915C37.3229 35.9126 37.2687 36.0202 37.201 36.1278C37.1468 36.2354 37.0926 36.3295 37.0385 36.4102L36.1851 37.6342ZM40.208 39.7727L40.8039 37.2979L39.7203 34.3659H40.6278L41.3051 36.2085C41.3186 36.2623 41.3322 36.3161 41.3593 36.3968C41.3864 36.4775 41.3999 36.5582 41.427 36.6389L41.5895 36.3968C41.6437 36.3161 41.6979 36.2488 41.7521 36.1816L43.3368 34.3659H44.2037L41.6708 37.2845L41.0748 39.7592H40.208V39.7727ZM48.4567 37.0962C48.4567 37.0558 48.4703 36.9348 48.4974 36.7465C48.5109 36.5851 48.5245 36.464 48.538 36.3564C48.4838 36.4775 48.4297 36.5985 48.3619 36.733C48.2942 36.8541 48.2129 36.9886 48.1181 37.1096L46.0322 40.0013L45.355 37.0558C45.3279 36.9348 45.3008 36.8137 45.2873 36.7061C45.2737 36.5985 45.2602 36.4775 45.2602 36.3699C45.2331 36.4775 45.1924 36.5985 45.1518 36.733C45.1112 36.8541 45.057 36.9886 44.9893 37.1231L43.7702 39.7861H42.9711L45.5852 34.1372L46.3302 37.5535C46.3438 37.6073 46.3573 37.7014 46.3708 37.8225C46.3844 37.9435 46.4115 38.1049 46.4386 38.2932C46.5334 38.1318 46.6553 37.9435 46.8178 37.7014C46.8585 37.6342 46.8991 37.5938 46.9126 37.5535L49.2694 34.1372L49.1882 39.7861H48.389L48.4567 37.0962ZM49.8925 39.7727L51.1928 34.3524H54.1591L53.983 35.1056H51.8836L51.5585 36.464H53.658L53.4683 37.2307H51.3689L50.949 38.9792H53.0484L52.8588 39.7727H49.8925ZM53.8476 39.7727L55.2021 34.1372L57.7756 37.4459C57.8433 37.54 57.911 37.6342 57.9788 37.7418C58.0465 37.8494 58.1142 37.9704 58.1955 38.1049L59.103 34.3524H59.9021L58.5476 39.9744L55.9199 36.5985L55.7168 36.3161C55.649 36.2085 55.5949 36.1143 55.5542 35.9933L54.6467 39.7592H53.8476V39.7727ZM62.6653 35.0921L61.541 39.7592H60.6742L61.7984 35.0921H60.3897L60.5658 34.339H64.25L64.0739 35.0921H62.6653ZM63.5728 38.6833L64.3448 38.3605C64.3584 38.6026 64.4261 38.7909 64.5751 38.9119C64.7241 39.033 64.9272 39.1002 65.1981 39.1002C65.4555 39.1002 65.6722 39.033 65.8618 38.885C66.0515 38.7371 66.1734 38.5488 66.2275 38.3067C66.3088 37.9839 66.1192 37.7014 65.6587 37.4593C65.5909 37.419 65.5503 37.3921 65.5097 37.3786C64.995 37.0827 64.6699 36.8272 64.5344 36.5851C64.399 36.343 64.3719 36.0605 64.4532 35.7243C64.5615 35.2804 64.7918 34.9307 65.1575 34.6483C65.5232 34.3793 65.9296 34.2314 66.4172 34.2314C66.81 34.2314 67.1215 34.3121 67.3518 34.46C67.582 34.608 67.7039 34.8366 67.7446 35.119L66.9861 35.4687C66.9183 35.2939 66.8371 35.1728 66.7287 35.0921C66.6203 35.0114 66.4849 34.9711 66.3224 34.9711C66.0921 34.9711 65.8889 35.0383 65.7264 35.1594C65.5638 35.2804 65.4555 35.4418 65.4013 35.657C65.32 35.9798 65.5503 36.2892 66.0786 36.5716C66.1192 36.5985 66.1463 36.612 66.1734 36.6254C66.6339 36.8675 66.9454 37.1096 67.0809 37.3517C67.2163 37.5938 67.2434 37.8763 67.1621 38.2394C67.0402 38.7505 66.7829 39.154 66.3901 39.4634C65.9973 39.7592 65.5368 39.9206 64.995 39.9206C64.548 39.9206 64.1958 39.813 63.952 39.5979C63.6811 39.3827 63.5592 39.0733 63.5728 38.6833ZM69.9524 39.7727L71.2527 34.3524H72.1195L70.8192 39.7727H69.9524ZM72.0654 39.7727L73.4198 34.1372L75.9934 37.4459C76.0611 37.54 76.1288 37.6342 76.1965 37.7418C76.2643 37.8494 76.332 37.9704 76.4132 38.1049L77.3207 34.3524H78.1199L76.7654 39.9744L74.1377 36.5985L73.9345 36.3161C73.8668 36.2085 73.8126 36.1143 73.772 35.9933L72.8645 39.7592H72.0654V39.7727ZM80.883 35.0921L79.7588 39.7592H78.8919L80.0162 35.0921H78.6075L78.7836 34.339H82.4678L82.2917 35.0921H80.883ZM81.8176 39.7727L83.1179 34.3524H86.0978L85.9217 35.1056H83.8223L83.4972 36.464H85.5966L85.407 37.2307H83.3076L82.8877 38.9792H84.9871L84.7975 39.7727H81.8176ZM87.1678 37.3383L86.5854 39.7592H85.7727L87.073 34.339H88.2785C88.6307 34.339 88.9016 34.3659 89.0776 34.4062C89.2673 34.4466 89.4163 34.5273 89.5246 34.6348C89.6601 34.7693 89.7413 34.9307 89.782 35.1459C89.8226 35.3477 89.8091 35.5763 89.7549 35.8319C89.6465 36.2623 89.4705 36.612 89.1996 36.8541C88.9287 37.0962 88.59 37.2441 88.1837 37.2979L89.4163 39.7592H88.441L87.2626 37.3383H87.1678ZM87.3845 36.6523H87.5471C88.0076 36.6523 88.3191 36.5985 88.4952 36.4909C88.6713 36.3833 88.7932 36.195 88.8609 35.9126C88.9287 35.6167 88.9016 35.4015 88.7661 35.2804C88.6307 35.1594 88.3462 35.0921 87.9128 35.0921H87.7503L87.3845 36.6523ZM89.9445 39.7727L91.2448 34.3524H94.2111L94.035 35.1056H91.9356L91.6105 36.4506H93.71L93.5203 37.2172H91.4209L90.8114 39.7592H89.9445V39.7727ZM97.0962 39.7727L96.8253 38.3739H94.7123L93.7642 39.7727H92.8567L96.7847 34.1372L98.0037 39.7727H97.0962ZM95.2134 37.6342H96.6898L96.446 36.3968C96.4325 36.3161 96.4189 36.2219 96.4189 36.1278C96.4054 36.0202 96.4054 35.9126 96.4054 35.7915C96.3512 35.9126 96.297 36.0202 96.2293 36.1278C96.1751 36.2354 96.1209 36.3295 96.0668 36.4102L95.2134 37.6342ZM103.638 35.6705C103.449 35.4553 103.218 35.2939 102.975 35.1997C102.731 35.0921 102.46 35.0383 102.148 35.0383C101.566 35.0383 101.051 35.2266 100.591 35.6032C100.13 35.9798 99.8322 36.4775 99.6832 37.0827C99.5478 37.6611 99.602 38.1453 99.8729 38.5353C100.13 38.9119 100.537 39.1002 101.078 39.1002C101.39 39.1002 101.701 39.0464 102.013 38.9254C102.324 38.8178 102.636 38.6429 102.961 38.4143L102.717 39.4096C102.446 39.5844 102.162 39.7054 101.864 39.7861C101.566 39.8668 101.268 39.9072 100.943 39.9072C100.537 39.9072 100.171 39.8399 99.8593 39.7054C99.5478 39.571 99.2904 39.3692 99.0873 39.1002C98.8841 38.8447 98.7622 38.5353 98.708 38.1856C98.6538 37.8359 98.6674 37.4593 98.7757 37.0558C98.8705 36.6523 99.0331 36.2892 99.2498 35.9395C99.4665 35.5898 99.751 35.2804 100.076 35.0249C100.401 34.7559 100.753 34.5542 101.133 34.4197C101.512 34.2852 101.891 34.2179 102.284 34.2179C102.595 34.2179 102.88 34.2583 103.151 34.3524C103.408 34.4466 103.652 34.581 103.869 34.7693L103.638 35.6705ZM103.72 39.7727L105.02 34.3524H107.986L107.81 35.1056H105.711L105.386 36.464H107.485L107.295 37.2307H105.196L104.776 38.9792H106.876L106.686 39.7727H103.72Z" fill="#D9D9D9"/>
  <path d="M87.9534 29.63H82.0073L90.2696 0H96.2158L87.9534 29.63ZM84.8652 0.92804C84.4589 0.363145 83.8223 0.080699 82.9554 0.080699H50.2853L48.6735 5.89104H78.3908L76.6571 12.0914H52.8859V12.078H46.9397L42.0094 29.7645H47.9556L51.2605 17.9018H77.9845C78.8242 17.9018 79.6098 17.6193 80.3413 17.0544C81.0727 16.4895 81.5603 15.7901 81.7906 14.9562L85.0955 3.09347C85.3528 2.20578 85.2716 1.49293 84.8652 0.92804ZM38.542 27.774C38.2169 28.9441 37.1333 29.7645 35.9143 29.7645H5.26235C4.42257 29.7645 3.79951 29.4821 3.39317 28.9172C2.98682 28.3523 2.89201 27.6529 3.13582 26.819L10.6126 0.080699H16.5587L9.88113 23.9677H33.6658L40.3434 0.080699H46.2896L38.542 27.774Z" fill="white"/>
  <path d="M106.483 0.0546875L114 14.9033L98.1932 29.752L106.483 0.0546875Z" fill="#098041"/>
  <path d="M101.2 0.0546875L108.718 14.9033L92.8973 29.752L101.2 0.0546875Z" fill="#E97626"/>
</svg>
          {% endif %}
          {% if section.settings.show_visa %}
            <span class="sw-text-xs xl:sw-text-sm sw-font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" width="123" height="40" viewBox="0 0 123 40" fill="none">
  <path d="M53.3217 39.3333H43.2851L49.5578 0.690492H59.5954L53.3217 39.3333ZM34.8418 0.690492L25.2734 27.2693L24.1411 21.5459L20.765 4.16983C20.765 4.16983 20.3567 0.690492 16.004 0.690492H0.185614L0 1.34481C0 1.34481 4.8373 2.35367 10.4985 5.76168L19.2182 39.3343H29.6755L45.6434 0.690492H34.8418ZM113.784 39.3333H123L114.965 0.689459H106.897C103.171 0.689459 102.264 3.56927 102.264 3.56927L87.2951 39.3333H97.7576L99.8499 33.5933H112.609L113.784 39.3333ZM102.74 25.664L108.014 11.2029L110.98 25.664H102.74ZM88.0799 9.9832L89.5122 1.68488C89.5122 1.68488 85.0925 0 80.4852 0C75.5046 0 63.6768 2.18208 63.6768 12.7927C63.6768 22.7759 77.5587 22.9 77.5587 28.1438C77.5587 33.3876 65.1071 32.448 60.9978 29.1413L59.5057 37.8179C59.5057 37.8179 63.9872 40 70.8343 40C77.6835 40 88.016 36.4452 88.016 26.77C88.016 16.7227 74.0093 15.7873 74.0093 11.419C74.0104 7.04964 83.785 7.61092 88.0799 9.9832Z" fill="#2566AF"/>
  <path d="M24.1411 21.5459L20.765 4.16983C20.765 4.16983 20.3567 0.690492 16.004 0.690492H0.185614L0 1.34481C0 1.34481 7.60294 2.92378 14.8955 8.84155C21.8684 14.4978 24.1411 21.5459 24.1411 21.5459Z" fill="#E6A540"/>
</svg>
            </span>
          {% endif %}
          {% if section.settings.show_mastercard %}
            <span class="sw-text-xs xl:sw-text-sm sw-font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" width="78" height="48" viewBox="0 0 78 48" fill="none">
  <path d="M49.5462 42.8696H28.4537V5.12714H49.5462V42.8696Z" fill="#FF5F00"/>
  <path d="M29.7927 24C29.7896 20.3654 30.6169 16.7777 32.212 13.5085C33.8072 10.2393 36.1284 7.37428 39 5.13038C35.444 2.34775 31.1736 0.617366 26.6767 0.136971C22.1798 -0.343423 17.6379 0.445555 13.57 2.41374C9.50215 4.38193 6.07241 7.44992 3.67277 11.2671C1.27313 15.0843 0.00038893 19.4967 0 24C0.000867897 28.5028 1.27376 32.9145 3.67324 36.7311C6.07272 40.5477 9.50201 43.6153 13.5693 45.5834C17.6366 47.5514 22.1779 48.3406 26.6742 47.8607C31.1706 47.3809 35.4407 45.6513 38.9967 42.8696C36.1262 40.6251 33.8058 37.7599 32.2112 34.4908C30.6167 31.2217 29.7897 27.6343 29.7927 24Z" fill="#EB001B"/>
  <path d="M78 24C77.9996 28.5033 76.7269 32.9157 74.3272 36.7329C71.9276 40.5501 68.4979 43.6181 64.43 45.5863C60.3621 47.5544 55.8202 48.3434 51.3233 47.863C46.8264 47.3826 42.556 45.6522 39 42.8696C44.6063 38.475 48.2073 31.6566 48.2073 24C48.2073 16.3434 44.6063 9.52499 39 5.13038C42.556 2.34775 46.8264 0.617366 51.3233 0.136971C55.8202 -0.343423 60.3621 0.445555 64.43 2.41374C68.4979 4.38193 71.9276 7.44992 74.3272 11.2671C76.7269 15.0843 77.9996 19.4967 78 24Z" fill="#F79E1B"/>
</svg>
            </span>
          {% endif %}
        
        </div>

      </div>
    </div>

  </div>
</section>


<style>
  #pricing {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
 

  @media (min-width: 1200px) {
    #pricing {
      padding-top: {{ section.settings.desktop_padding_top }}px;
      padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    }
     .tradeedge-wrap svg{
    width: 100%;
        height: auto;
  }
  }
</style>



{% schema %}
{
  "name": "Pricing – 3 fixed cards",
  "settings": [
    {
      "type": "color",
      "label": "section background color",
      "id": "section_bg",
      "default": "#1E1E1E"
    },
    {
      "type": "color",
      "label": "section text color",
      "id": "section_text_color",
      "default": "#ffffff" 
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Mobile padding top (px)",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Mobile padding bottom (px)",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "html",
      "label": "Section title",
      "id": "section_title",
      "default": "TradeEdge <span> Pro</span> Features"
    },
    {
      "type": "color",
      "label": "section title color",
      "id": "section_title_color",
      "default": "#000000"
    },

    { "type": "header", "content": "Secure checkout strip" },
    { "type": "text", "id": "secure_title", "label": "Title", "default": "Safe and Secure Checkout" },
    { "type": "text", "id": "secure_subtitle", "label": "Subtitle", "default": "Payments are processed by" },
    { "type": "text", "id": "payment_text", "label": "Payment text", "default": "We accept the following payment methods" },
    { "type": "checkbox", "id": "show_upi", "label": "Show UPI", "default": true },
    { "type": "checkbox", "id": "show_visa", "label": "Show VISA", "default": true },
    { "type": "checkbox", "id": "show_mastercard", "label": "Show Mastercard", "default": true },
    { "type": "checkbox", "id": "show_custom_logo", "label": "Show extra payment logo image", "default": false },
    { "type": "image_picker", "id": "custom_logo", "label": "Extra payment logo" },

    { "type": "header", "content": "Card 1 – Monthly" },
    {
  "type": "checkbox",
  "id": "enable_card1",
  "label": "Enable Card 1",
  "default": true
},
    { "type": "text", "id": "card1_label", "label": "Top label", "default": "STARTER PLAN" },
    { "type": "image_picker", "id": "card1_icon", "label": "Card 1 icon image" },
    { "type": "text", "id": "card1_title", "label": "Title", "default": "Monthly Access" },
    { "type": "text", "id": "card1_price", "label": "Price", "default": "₹ 499.00" },
    { "type": "text", "id": "card1_suffix", "label": "Price suffix", "default": "/ month" },
    { "type": "text", "id": "card1_trial", "label": "Trial line", "default": "Get 7 days free trial included" },
    { "type": "text", "id": "card1_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card1_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card1_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card1_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card1_btn_label", "label": "Button label", "default": "START 7-DAY FREE TRIAL" },
    { "type": "url", "id": "card1_btn_link", "label": "Button link" },
    { "type": "color", "id": "card1_accent", "label": "Accent color", "default": "#00D2C6" },
    { "type": "color", "id": "card1_inner_bg", "label": "Inner box background", "default": "#00D2C6" },
    { "type": "color", "id": "card1_border_color", "label": "Outer border color", "default": "#00D2C6" },
    { "type": "color", "id": "card1_btn_bg", "label": "Button background", "default": "#00F0CF" },
    { "type": "image_picker", "id": "card1_inner_bg_img", "label": "Card 1 Bg image" },

    { "type": "header", "content": "Card 2 – Quarterly (middle)" },
    {
  "type": "checkbox",
  "id": "enable_card2",
  "label": "Enable Card 2",
  "default": true
},
    { "type": "text", "id": "card2_label", "label": "Top label", "default": "MOST POPULAR" },
    { "type": "image_picker", "id": "card2_icon", "label": "Card 2 icon image" },
    { "type": "text", "id": "card2_title", "label": "Title", "default": "Quarterly Access" },
    { "type": "text", "id": "card2_price", "label": "Price", "default": "₹ 1,099.00" },
    { "type": "text", "id": "card2_suffix", "label": "Price suffix", "default": "/ 90 days" },
    { "type": "text", "id": "card2_trial", "label": "Trial line", "default": "Get 30 days free trial included" },
    { "type": "text", "id": "card2_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card2_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card2_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card2_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card2_btn_label", "label": "Button label", "default": "START 30-DAY FREE TRIAL" },
    { "type": "url", "id": "card2_btn_link", "label": "Button link" },
    { "type": "color", "id": "card2_accent", "label": "Accent color", "default": "#00C4FF" },
    { "type": "color", "id": "card2_inner_bg", "label": "Inner box background", "default": "#00C4FF" },
    { "type": "color", "id": "card2_border_color", "label": "Outer border color", "default": "#00C4FF" },
    { "type": "color", "id": "card2_btn_bg", "label": "Button background", "default": "#00E5FF" },
    { "type": "image_picker", "id": "card2_inner_bg_img", "label": "Card 2 Bg image" },

    { "type": "header", "content": "Card 3 – Lifetime" },
    {
  "type": "checkbox",
  "id": "enable_card3",
  "label": "Enable Card 3",
  "default": true
},
    { "type": "text", "id": "card3_label", "label": "Top label", "default": "BEST VALUE" },
    { "type": "image_picker", "id": "card3_icon", "label": "Card 3 icon image" },
    { "type": "text", "id": "card3_title", "label": "Title", "default": "Lifetime Access" },
    { "type": "text", "id": "card3_price", "label": "Price", "default": "₹ 4,999.00" },
    { "type": "text", "id": "card3_suffix", "label": "Price suffix", "default": "One-Time" },
    { "type": "text", "id": "card3_trial", "label": "Trial / sub text", "default": "Unlimited access for life" },
    { "type": "text", "id": "card3_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card3_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card3_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card3_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card3_btn_label", "label": "Button label", "default": "GET LIFETIME ACCESS" },
    { "type": "url", "id": "card3_btn_link", "label": "Button link" },
    { "type": "color", "id": "card3_accent", "label": "Accent color", "default": "#A855F7" },
    { "type": "color", "id": "card3_inner_bg", "label": "Inner box background", "default": "#A855F7" },
    { "type": "color", "id": "card3_border_color", "label": "Outer border color", "default": "#A855F7" },
    { "type": "color", "id": "card3_btn_bg", "label": "Button background", "default": "#C084FC" },
    { "type": "image_picker", "id": "card3_inner_bg_img", "label": "Card 3 Bg image" }
  ],
  "presets": [
    {
      "name": "Pricing – 3 fixed cards"
    }
  ]
}
{% endschema %}
