{% liquid
  assign sale_layout = settings.sale_layout
  if sale_layout
    assign block_to_render = 'sale-image'
  else
    assign block_to_render = 'image'
  endif
  assign rendered_block_count = 0
  for block in section.blocks
    if block.type == block_to_render
        assign rendered_block_count = rendered_block_count | plus : 1
    endif
  endfor
%}
<banner-slideshow id="{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-autoplay-interval="{{ section.settings.autoplay_interval }}">
    <div class="slide-show-wrapper mb-relative"  >
        <div data-role="slides-wrapper" class="mb-flex mb-max-w-full mb-overflow-hidden mb-flex-row mb-flex-nowrap keen-slider">
            {% assign block_count = 0 %}
            {% for block in section.blocks %}
                {% if block.type == block_to_render %}
                    <div data-role="slide" class="mb-flex-[0_0_100%] keen-slider__slide" style="transition: opacity 0.8s ease-in-out;">
                        {% liquid
                            assign mobile_image = block.settings.mobile_image
                            assign desktop_image = block.settings.desktop_image
                            assign block_count = block_count | plus : 1
                            if block_count > 1 or section.index > 2
                                assign load_lazy = 'lazy'
                            else
                                assign load_lazy = 'eager'
                            endif
                        %}
                        {% if mobile_image != blank and desktop_image != blank %}
                            {% style %}
                                @media(min-width:768px){
                                    #{{ section.id }}-{{ forloop.index }}-image{
                                        padding-bottom:{{ 1 | divided_by : desktop_image.aspect_ratio | times : 100 }}%!important;
                                    }
                                }
                            {% endstyle %}
                            <div id="{{ section.id }}-{{ forloop.index }}-image" class="mb-relative mb-overflow-hidden mb-bg-[#000]"
                                style="padding-bottom:{{ 1 | divided_by : mobile_image.aspect_ratio | times : 100 }}%"
                            >
                                <picture>
                                    <source
                                        media="(min-width: 768px)"
                                        srcset="
                                        {{ desktop_image | image_url: width: 1800 }},
                                        {{ desktop_image | image_url: width: 2200 }},
                                        ">
                                    {{ mobile_image |
                                        image_url: width: 600 |
                                        image_tag:
                                        widths: '400, 600',
                                        sizes: '(min-width: 768px) 760px, (min-width: 1024px) calc(100vw - 380px), 78.75vw',
                                        style:'position:absolute;top:0px;left:0px;width:100%;height:auto' ,
                                        loading: load_lazy
                                    }}
                                </picture>
                                {% if block.settings.banner_redirection != blank %}<a class="mb-block mb-absolute mb-top-0 mb-left-0 mb-w-full mb-h-full mb-cursor-pointer" href="{{  block.settings.banner_redirection}}"></a>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if rendered_block_count > 1 and section.settings.arrows %}
            <div class="mb-absolute mb-z-10 mb-bottom-0 mb-left-[80%] xl:mb-left-[90%] mb-translate-y-[50%] mb-flex mb-gap-[6px] xl:mb-gap-[10px] mb-items-center">
                <button data-role="prev-btn" class="mb-bg-[#fff] mb-rounded-full mb-p-[6px] xl:mb-p-[10px] mb-shadow-lg mb-transition-all hover:mb-scale-110">{% render 'icons-v2', icon: 'icon-caret-left', class:'mb-w-[16px] xl:mb-w-[20px] xl:mb-h-[20px] mb-h-[16px]' %}</button>
                <button data-role="next-btn" class="mb-bg-[#fff] mb-rounded-full mb-p-[6px] xl:mb-p-[10px] mb-shadow-lg mb-transition-all hover:mb-scale-110">{% render 'icons-v2', icon: 'icon-caret-right', class:'mb-w-[16px] xl:mb-w-[20px] xl:mb-h-[20px] mb-h-[16px]' %}</button>
            </div>
        {% endif %} 
    </div>
</banner-slideshow>
{% if rendered_block_count > 1 %}
    {% render 'vite-tag' with 'meziva-home-hero.js' %}
{% endif %}
{% schema %}
    {
        "name":"Slideshow v2",
        "settings":[
            {
                "type":"checkbox",
                "label":"Show arrows",
                "default":true,
                "id":"arrows"
            },
            {
                "type":"checkbox",
                "label":"Enable Autoplay",
                "id":"autoplay"
            },
            {
                "type":"number",
                "label":"Autoplay interval in seconds",
                "id":"autoplay_interval",
                "default":3
            }
        ],
        "blocks":[
            {
                "type":"image",
                "name":"image",
                "settings":[
                    {
                        "type":"image_picker",
                        "label":"Choose mobile image",
                        "id":"mobile_image"
                    },
                    {
                        "type":"image_picker",
                        "label":"Choose desktop image",
                        "id":"desktop_image"
                    },
                    {
                        "type":"url",
                        "label":"Banner redirection link",
                        "id":"banner_redirection"
                    }
                ]
            },
            {
                "type":"sale-image",
                "name":"Sale image",
                "settings": [
                    {
                        "type":"image_picker",
                        "label":"Choose mobile image",
                        "id":"mobile_image"
                    },
                    {
                        "type":"image_picker",
                        "label":"Choose desktop image",
                        "id":"desktop_image"
                    },
                    {
                        "type":"url",
                        "label":"Banner redirection link",
                        "id":"banner_redirection"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name":"Slideshow v2"
            }
        ]
    }
{% endschema %}